p
  | Howdy! Here's a list of awesome computer scientists.
  | Do you know any others? Add to the list yourself.
form.form-inline((submit)='addName()')
  .form-group
    label.sr-only(for='newName') Awesome Computer Scientist
    input#newName.form-control(type='text', [(ngModel)]='newName', placeholder='Awesome Computer Scientist')
  button.btn.btn-primary(type='submit') Add
ul
  li(*ngFor='#name of nameListService.get()') {{name}}
