//p
//  | Howdy! Here's a list of awesome computer scientists.
//  | Do you know any others? Add to the list yourself.
//form.form-inline((submit)='addName()')
//  .form-group
//    label.sr-only(for='newName') Awesome Computer Scientist
//    input#newName.form-control(type='text', [(ngModel)]='newName', placeholder='Awesome Computer Scientist')
//  button.btn.btn-primary(type='submit') Add
//ul
//  li(*ngFor='#name of nameListService.get()') {{name}}

//CUS010
.container
  form.form-horizontal(role="form")
    .tab-content
      #geoDatGen.tab-pane.fade.in
        fieldset
          legend Georeferenciación y datos generales
            .form-group
              label.control-label.col-sm-4 ID proceso
              .col-sm-6
                input#idProceso.form-control.number(placeholder="Digite el ID del proceso")
            .form-group
              label.control-label.col-sm-4 ID litigar
              .col-sm-6
                input#idLitigar.form-control.number(placeholder="Digite el ID a litigar")
            .form-group
              label.control-label.col-sm-4 Fecha de notificación
              .col-sm-6
                input#fechaNotificacion.form-control(placeholder="Ingrese la fecha de notificación")
            .form-group
              label.control-label.col-sm-4 No. Bizagi - caso defensa judicial
              .col-sm-6
                input#idBizagi.form-control.number(placeholder="Digite el número Bizagi - caso defensa judicial")
            .form-group
              label.control-label.col-sm-4 No. de juzgado (en letras)
              .col-sm-6
                input#idJuzgado.form-control.number(placeholder="Digite el número del juzgado")
            .form-group
              label.control-label.col-sm-4 Tipo de juzgado
              .col-sm-6
                select#tipoJuzgado.form-control.not-number
                  option(selected="selected", value="Seleccione el tipo de juzgado") Seleccione el tipo de juzgado
                  option(value="0100") CONSEJO SUPERIOR DE LA JUDICATURA
                  option(value="0101") CONSEJO SUPERIOR DE LA JUDICATURA - SALA ADMINISTRATIVA
                  option(value="0102") CONSEJO SUPERIOR DE LA JUDICATURA - SALA DISCIPLINARIA
                  option(value="0200") CORTE SUPREMA DE JUSTICIA
                  option(value="0203") CORTE SUPREMA DE JUSTICIA – SALA DE CASACION CIVIL
                  option(value="0204") CORTE SUPREMA DE JUSTICIA - SALA DE CASACION PENAL
                  option(value="0205") CORTE SUPREMA DE JUSTICIA - SALA DE CASACION LABORAL
                  option(value="0300") CONSEJO DE ESTADO
                  option(value="0306") CONSEJO DE ESTADO - SALA DE CONSULTA Y SERVICIO CIVIL
                  option(value="0315") CONSEJO DE ESTADO - SECRETARIA GENERAL
                  option(value="0324") CONSEJO DE ESTADO - SALA CONTENCIOSO ADMINISTRATIVA - SECCION PRIMERA
                  option(value="0325") CONSEJO DE ESTADO - SALA CONTENCIOSO ADMINISTRATIVA - SECCION SEGUNDA
                  option(value="0326") CONSEJO DE ESTADO - SALA CONTENCIOSO ADMINISTRATIVA - SECCION TERCERA
                  option(value="0327") CONSEJO DE ESTADO - SALA CONTENCIOSO ADMINISTRATIVA - SECCION CUARTA
                  option(value="0328") CONSEJO DE ESTADO - SALA CONTENCIOSO ADMINISTRATIVA - SECCION QUINTA
                  option(value="0400") CORTE CONSTITUCIONAL
                  option(value="0700") DIRECCION EJECUTIVA
                  option(value="1100") CONSEJO SECCIONAL DE LA JUDICATURA
                  option(value="1101") CONSEJO SECCIONAL DE LA JUDICATURA - SALA ADMINISTRATIVA
                  option(value="1102") CONSEJO SECCIONAL DE LA JUDICATURA - SALA DISCIPLINARIA
                  option(value="1200") DIRECCION SECCIONAL DE LA RAMA JUDICIAL
                  option(value="2200") TRIBUNAL SUPERIOR
                  option(value="2203") TRIBUNAL SUPERIOR - SALA CIVIL
                  option(value="2204") TRIBUNAL SUPERIOR - SALA PENAL
                  option(value="2205") TRIBUNAL SUPERIOR - SALA LABORAL
                  option(value="2208") TRIBUNAL SUPERIOR - SALA UNICA
                  option(value="2210") TRIBUNAL SUPERIOR - SALA DE FAMILIA
                  option(value="2212") TRIBUNAL SUPERIOR - SALA CIVIL LABORAL
                  option(value="2213") TRIBUNAL SUPERIOR - SALA CIVIL-FAMILIA
                  option(value="2214") TRIBUNAL SUPERIOR - SALA CIVIL-FAMILIA-LABORAL
                  option(value="2219") TRIBUNAL SUPERIOR SALA PENAL JUSTICIA Y PAZ
                  option(value="2221") TRIBUNAL SUPERIOR SALA CIVIL RESTITUCIÓN DE TIERRAS
                  option(value="2300") TRIBUNAL ADMINISTRATIVO
                  option(value="2315") TRIBUNAL ADMINISTRATIVO - SECRETARIA GENERAL
                  option(value="2324") TRIBUNAL ADMINISTRATIVO - SECCION PRIMERA
                  option(value="2325") TRIBUNAL ADMINISTRATIVO - SECCION SEGUNDA
                  option(value="2326") TRIBUNAL ADMINISTRATIVO - SECCION TERCERA
                  option(value="2327") TRIBUNAL ADMINISTRATIVO - SECCION CUARTA
                  option(value="2331") TRIBUNAL ADMINISTRATIVO - SIN SECCIONES
                  option(value="2333") TRIBUNAL ADMINISTRATIVO SIN SECCIÓN - ORAL
                  option(value="2336") TRIBUNAL ADMINISTRATIVO SECCIÓN TERCERA - ORAL
                  option(value="2337") TRIBUNAL ADMINISTRATIVO SECCIÓN CUARTA - ORAL
                  option(value="2341") TRIBUNAL ADMINISTRATIVO SECCIÓN PRIMERA MIXTA
                  option(value="2342") TRIBUNAL ADMINISTRATIVO SECCIÓN SEGUNDA MIXTA - ORAL
                  option(value="3103") JUZGADO DE CIRCUITO - CIVIL
                  option(value="3104") JUZGADO DE CIRCUITO - PENAL
                  option(value="3105") JUZGADO DE CIRCUITO - LABORAL
                  option(value="3107") JUZGADO PENAL DE CIRCUITO ESPECIALIZADO
                  option(value="3109") JUZGADO PENAL CON FUNCIÓN DE CONOCIMIENTO DE CIRCUITO
                  option(value="3110") JUZGADO DE CIRCUITO - FAMILIA
                  option(value="3112") JUZGADO CIVIL - LABORAL DE CIRCUITO
                  option(value="3118") JUZGADO PENAL PARA ADOLESCENTES CON FUNCION DE CONOCIMIENTO
                  option(value="3120") JUZGADO PENAL ESPECIALIZADOS DE EXTINCIÓN DE DOMINIO DE CIRCUITO
                  option(value="3121") JUZGADO CIVIL RESTITUCIÓN DE TIERRAS DE CIRCUITO
                  option(value="3133") JUZGADO DE CIRCUITO - ADMINISTRATIVO
                  option(value="3184") JUZGADO DE CIRCUITO - PROMISCUO DE FAMILIA
                  option(value="3185") JUZGADO DE CIRCUITO - MENORES
                  option(value="3186") JUZGADO DE CIRCUITO - ESPECIALIZADO EN COMERCIO
                  option(value="3187") JUZGADO DE CIRCUITO - EJECUCION DE PENAS Y MEDIDAS DE SEGURIDAD
                  option(value="3189") JUZGADO DE CIRCUITO - PROMISCUO
                  option(value="3329") JUZGADO ADMINISTRATIVO - CONTENCIOSO
                  option(value="3331") JUZGADO ADMINISTRATIVO
                  option(value="3333") JUZGADO SIN SECCIÓN - ORAL ADMINISTRATIVO
                  option(value="3334") JUZGADO SECCIÓN PRIMERA - ORAL ADMINISTRATIVO
                  option(value="3335") JUZGADO SECCIÓN SEGUNDA - ORAL ADMINISTRATIVO
                  option(value="3336") JUZGADO SECCIÓN TERCERA - ORAL ADMINISTRATIVO
                  option(value="3337") JUZGADO SECCIÓN CUARTA - ORAL ADMINISTRATIVO
                  option(value="4003") JUZGADO MUNICIPAL CIVIL
                  option(value="4004") JUZGADO MUNICIPAL PENAL
                  option(value="4009") JUZGADO PENAL CON FUNCIÓN DE CONOCIMIENTO
                  option(value="4046") JUZGADO PENAL MIXTO(LEYES 600, 906 Y 1098) MUNICIPAL
                  option(value="4071") JUZGADO PENAL PARA ADOLESCENTES CON FUNCIÓN DE CONTROL DE GARANTÍAS
                  option(value="4088") JUZGADO PENAL MUNICIPAL CON FUNCIÓN DE CONTROL DE GARANTÍAS
                  option(value="4089") JUZGADO MUNICIPAL PROMISCUO
                  option(value="4105") JUZGADO DE PEQUEÑAS CAUSAS LABORAL
                  option(value="4404") JUZGADO PENAL CON FUNCIÓN DE CONTROL DE GARANTÍAS MUNICIPAL
            .form-group
              label.control-label.col-sm-4 Nombre de despacho inicial
              .col-sm-6
                select#nombreDespacho.form-control.not-number
                  option(selected="selected", value="Seleccione el NomBenef del despacho inicial") Seleccione el nombre del despacho inicial
                  option(value="050023184002") JUZGADO 002 PROMISCUO DE CIRCUITO DE ABEJORRAL
                  option(value="050023184003") JUZGADO 003 PROMISCUO DE CIRCUITO DE ABEJORRAL
                  option(value="050023189001") JUZGADO 001 PROMISCUO DE CIRCUITO DE ABEJORRAL
                  option(value="050024089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ABEJORRAL
                  option(value="050024089002") JUZGADO 002 PROMISCUO MUNICIPAL DE ABEJORRAL
                  option(value="050024089003") JUZGADO 003 PROMISCUO MUNICIPAL DE ABEJORRAL
                  option(value="050024105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ABEJORRAL
                  option(value="050024105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ABEJORRAL
                  option(value="050024105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ABEJORRAL
                  option(value="540034089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ÚBREGO
                  option(value="540034089002") JUZGADO 002 PROMISCUO MUNICIPAL DE ÚBREGO
                  option(value="540034089003") JUZGADO 003 PROMISCUO MUNICIPAL DE ÚBREGO
                  option(value="540034105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ABREGO
                  option(value="540034105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ABREGO
                  option(value="540034105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ABREGO
                  option(value="050044089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ABRIAQUÍ
                  option(value="050044105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ABRIAQUI
                  option(value="050044105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ABRIAQUI
                  option(value="050044105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ABRIAQUI
                  option(value="500063103001") JUZGADO 001 CIVIL DE CIRCUITO DE ACACÍAS
                  option(value="500063104001") JUZGADO 001 PENAL DE CIRCUITO DE ACACÍAS
                  option(value="500063105501") JUZGADO 501 LABORAL ADJUNTO AL PROMISCUO DE CIRCUITO DE ACACÍAS
                  option(value="500063184001") JUZGADO 001 PROMISCUO DE FAMILIA DE CIRCUITO DE ACACÍAS
                  option(value="500063187001") JUZGADO 001 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
                  option(value="500063187002") JUZGADO 002 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
                  option(value="500063187003") JUZGADO 003 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
                  option(value="500063187701") JUZGADO 701 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
                  option(value="500063187702") JUZGADO 702 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
                  option(value="500064089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ACACÍAS
                  option(value="500064089002") JUZGADO 002 PROMISCUO MUNICIPAL DE ACACÍAS
                  option(value="110014103001") JUZGADO 001 MUNICIPAL DE PEQUEÑAS CAUSAS LABORALES DE BOGOTA PERMANENTE
                  option(value="500064105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ACACÍAS
                  option(value="500064105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ACACÍAS
                  option(value="500064105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ACACÍAS
                  option(value="270064089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ACANDÍ
                  option(value="270064105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ACANDÍ
                  option(value="270064105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ACANDÍ
                  option(value="270064105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ACANDÍ
                  option(value="410064089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ACEVEDO
                  option(value="410064105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ACEVEDO
                  option(value="410064105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ACEVEDO
                  option(value="410064105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ACEVEDO
                  option(value="130064089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ACHÍ
                  option(value="130064105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ACHÍ
                  option(value="130064105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ACHÍ
                  option(value="130064105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ACHÍ
                  option(value="410134089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGRADO
                  option(value="410134105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGRADO
                  option(value="410134105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGRADO
                  option(value="410134105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGRADO
                  option(value="250013105003") JUZGADO DE CIRCUITO - LABORAL 003 DE AGUA DE DIOS
                  option(value="250014089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUA DE DIOS
                  option(value="250014105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUA DE DIOS
                  option(value="250014105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUA DE DIOS
                  option(value="250014105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUA DE DIOS
                  option(value="200113103701") JUZGADO DESCONGESTIÓN 701 CIVIL DE CIRCUITO DE AGUACHICA
                  option(value="200113105001") JUZGADO 001 LABORAL DE CIRCUITO DE AGUACHICA
                  option(value="200113184001") JUZGADO 001 PROMISCUO DE FAMILIA DE CIRCUITO DE AGUACHICA
                  option(value="200113189001") JUZGADO 001 PROMISCUO DE CIRCUITO DE AGUACHICA
                  option(value="200114089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUACHICA
                  option(value="200114089002") JUZGADO 002 PROMISCUO MUNICIPAL DE AGUACHICA
                  option(value="200114105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUACHICA
                  option(value="200114105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUACHICA
                  option(value="200114105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUACHICA
                  option(value="680134089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUADA
                  option(value="680134105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUADA
                  option(value="680134105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUADA
                  option(value="680134105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUADA
                  option(value="170133103001") JUZGADO DE CIRCUITO - CIVIL 001 DE AGUADAS
                  option(value="170133104001") JUZGADO 001 PENAL DE CIRCUITO DE AGUADAS
                  option(value="170134089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUADAS
                  option(value="170134089002") JUZGADO 002 PROMISCUO MUNICIPAL DE AGUADAS
                  option(value="170134105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUADAS
                  option(value="170134105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUADAS
                  option(value="170134105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUADAS
                  option(value="850104089701") JUZGADO 701 PROMISCUO MUNICIPAL DE AGUAZUL
                  option(value="850104105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUAZUL
                  option(value="850104105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUAZUL
                  option(value="850104105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUAZUL
                  option(value="200134089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUSTÍN CODAZZI
                  option(value="200134089002") JUZGADO 002 PROMISCUO MUNICIPAL DE AGUSTÍN CODAZZI
                  option(value="200134105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUSTÍN CODAZZI
                  option(value="200134105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUSTÍN CODAZZI
                  option(value="200134105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUSTÍN CODAZZI
                  option(value="410164089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AIPE
                  option(value="410164105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AIPE
                  option(value="410164105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AIPE
                  option(value="410164105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AIPE
                  option(value="250194089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALBÁN
                  option(value="250194105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALBÁN
                  option(value="250194105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALBÁN
                  option(value="250194105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALBÁN
                  option(value="520194089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALBÁN SAN JOSÉ
                  option(value="520194105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALBÁN
                  option(value="520194105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALBÁN
                  option(value="520194105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALBÁN
                  option(value="440354089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALBANIA
                  option(value="440354105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALBANIA
                  option(value="440354105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALBANIA
                  option(value="440354105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALBANIA
                  option(value="680204089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALBANIA
                  option(value="680204105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALBANIA
                  option(value="680204105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALBANIA
                  option(value="680204105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALBANIA
                  option(value="760204089001") JUZGADO MUNICIPAL PROMISCUO 001 DE ALCALÁ
                  option(value="760204105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALCALÁ
                  option(value="760204105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALCALÁ
                  option(value="760204105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALCALÁ
                  option(value="520224089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALDANA
            .form-group
              label.control-label.col-sm-4 Departamento juzgado
              .col-sm-6
                select#depJuzgado.form-control.not-number
                  option(selected="selected", value="Seleccione el departamento del juzgado") Seleccione el departamento del juzgado
                  option(value="05") ANTIOQUIA
                  option(value="54") NORTE_DE_SANTANDER
                  option(value="50") META
                  option(value="27") CHOCO
                  option(value="41") HUILA
                  option(value="13") BOLIVAR
                  option(value="25") CUNDINAMARCA
                  option(value="20") CESAR
                  option(value="68") SANTANDER
                  option(value="17") CALDAS
                  option(value="85") CASANARE
                  option(value="52") NARINO
                  option(value="44") LA_GUAJIRA
                  option(value="18") CAQUETA
                  option(value="76") VALLE_DEL_CAUCA
                  option(value="47") MAGDALENA
                  option(value="19") CAUCA
                  option(value="15") BOYACA
                  option(value="73") TOLIMA
                  option(value="66") RISARALDA
                  option(value="81") ARAUCA
                  option(value="63") QUINDIO
                  option(value="23") CORDOBA
                  option(value="08") ATLANTICO
                  option(value="94") GUAINIA
                  option(value="11") DISTRITO_CAPITAL
                  option(value="70") SUCRE
                  option(value="95") GUAVIARE
                  option(value="97") VAUPES
                  option(value="86") PUTUMAYO
                  option(value="99") VICHADA
                  option(value="91") AMAZONAS
                  option(value="88") SAN_ANDRES_Y_PROVIDENCIA
            .form-group
              label.control-label.col-sm-4 Ciudad de juzgado / Lugar de los hechos
              .col-sm-6
                select#ciudadJuzgado.form-control.not-number
                  option(selected="selected", value="Seleccione la ciudad del juzgado / Lugar de los hechos") Seleccione la ciudad del juzgado / Lugar de los hechos
                  option(value="002") ABEJORRAL
                  option(value="003") ABREGO
                  option(value="004") ABRIAQUI
                  option(value="006") ACACÍAS
                  option(value="006") ACANDÍ
                  option(value="006") ACEVEDO
                  option(value="006") ACHÍ
                  option(value="013") AGRADO
                  option(value="001") AGUA_DE_DIOS
                  option(value="000") TRIBUNAL
                  option(value="011") AGUACHICA
                  option(value="013") AGUADA
                  option(value="013") AGUADAS
                  option(value="010") AGUAZUL
                  option(value="013") AGUSTÍN_CODAZZI
                  option(value="016") AIPE
                  option(value="019") ALBÁN
                  option(value="019") ALBÁN
                  option(value="020") ALBANIA
                  option(value="035") ALBANIA
                  option(value="029") ALBANIA
                  option(value="020") ALCALÁ
                  option(value="022") ALDANA
                  option(value="021") ALEJANDRIA
                  option(value="030") ALGARROBO
                  option(value="020") ALGECIRAS
                  option(value="022") ALMAGUER
                  option(value="022") ALMEIDA
                  option(value="024") ALPUJARRA
                  option(value="026") ALTAMIRA
                  option(value="025") ALTO_BAUDO
                  option(value="030") ALTOS_DEL_ROSARIO
                  option(value="026") ALVARADO
                  option(value="030") AMAGA
                  option(value="031") AMALFI
                  option(value="030") AMBALEMA
                  option(value="035") ANAPOIMA
                  option(value="036") ANCUYÁ
                  option(value="036") ANDALUCÍA
                  option(value="034") ANDES
                  option(value="036") ANGELOPOLIS
                  option(value="038") ANGOSTURA
                  option(value="040") ANOLAIMA
                  option(value="040") ANORI
                  option(value="042") ANSERMA
                  option(value="041") ANSERMANUEVO
                  option(value="044") ANZA
                  option(value="043") ANZOÁTEGUI
                  option(value="045") APARTADO
                  option(value="045") APÍA
                  option(value="599") APULO
                  option(value="047") AQUITANIA
                  option(value="053") ARACATACA
                  option(value="050") ARANZAZU
                  option(value="051") ARATOCA
                  option(value="001") ARAUCA
                  option(value="065") ARAUQUITA
                  option(value="053") ARBELÁEZ
                  option(value="051") ARBOLEDA
                  option(value="051") ARBOLEDAS
                  option(value="051") ARBOLETES
                  option(value="051") ARCABUCO
                  option(value="042") ARENAL
                  option(value="055") ARGELIA
                  option(value="054") ARGELIA
                  option(value="050") ARGELIA
                  option(value="058") ARIGUANÍ
                  option(value="052") ARJONA
                  option(value="059") ARMENIA
                  option(value="001") ARMENIA
                  option(value="055") ARMERO
                  option(value="062") ARROYOHONDO
                  option(value="032") ASTREA
                  option(value="067") ATACO
                  option(value="050") ATRATO
                  option(value="068") AYAPEL
                  option(value="073") BAGADÓ
                  option(value="075") BAHIA_SOLANO
                  option(value="077") BAJO_BAUDO
                  option(value="075") BALBOA
                  option(value="075") BALBOA
                  option(value="078") BARANOA
                  option(value="078") BARAYA
                  option(value="079") BARBACOAS
                  option(value="079") BARBOSA
                  option(value="077") BARBOSA
                  option(value="079") BARICHARA
                  option(value="110") BARRANCA_DE_UPÍA
                  option(value="081") BARRANCABERMEJA
                  option(value="078") BARRANCAS
                  option(value="074") BARRANCO_DE_LOBA
                  option(value="343") BARRANCO_MINAS
                  option(value="001") BARRANQUILLA
                  option(value="045") BECERRIL
                  option(value="088") BELALCÁZAR
                  option(value="087") BELÉN
                  option(value="083") BELÉN
                  option(value="086") BELÉN_DE_BAJIRÁ
                  option(value="094") BELÉN_DE_LOS_ANDAQUIES
                  option(value="088") BELÉN_DE_UMBRÍA
                  option(value="088") BELLO
                  option(value="086") BELMIRA
                  option(value="086") BELTRÁN
                  option(value="090") BERBEO
                  option(value="091") BETANIA
                  option(value="092") BETÉITIVA
                  option(value="093") BETULIA
                  option(value="092") BETULIA
                  option(value="095") BITUIMA
            .form-group
              label.control-label.col-sm-4 Radicado rama judicial / Número de radicación
              .col-sm-6
                input#radicadoRamJud.form-control(placeholder="Digite el radicado de la rama judicial / Número de radicación ej. 2015_000003")
            .form-group
              label.control-label.col-sm-4 23 dígitos del proceso / Número de proceso rama judicial
              .col-sm-6
                input#veintiTresDig.form-control.number(placeholder="Digite los 23 dígitos del proceso / Número de proceso rama judicial")
            .form-group
              label.control-label.col-sm-4 Tipo de proceso
              .col-sm-6
                select#tipoProceso.form-control.not-number
                  option(selected="selected", value="Seleccione el tipo de proceso") Seleccione el tipo de proceso
                  option(value="1") ACCION DE NULIDAD Y RESTABLECIMIENTO DEL DERECHO
                  option(value="2") ACCION DE REPARACION DIRECTA
                  option(value="3") ACCION DE CUMPLIMIENTO
                  option(value="4") ACCION POPULAR
                  option(value="5") EXTENSION DE JURISPRUDENCIA
                  option(value="6") NULIDAD SIMPLE
                  option(value="7") REPARACION DIRECTA
                  option(value="8") ADMINISTRATIVO EJECUTIVO
                  option(value="9") EJECUTIVO LABORAL
                  option(value="10") ORDINARIO LABORAL DE UNICA INSTANCIA
                  option(value="11") ORDINARIO LABORAL DE PRIMERA INSTANCIA
            .form-group
              label.control-label.col-sm-4 Clasificación procesos /jurisdicción - acción
              .col-sm-6
                input#clasProcesos.form-control.not-number(placeholder="Digite clasificación procesos /jurisdicción - acción")
            .form-group
              label.control-label.col-sm-4 CC demandante / identificación demandante
              .col-sm-6
                input#idDemandante.form-control.number(placeholder="Digite el documento del demandante / identificación demandante")
            .form-group
              label.control-label.col-sm-4 Nombre demandante
              .col-sm-6
                input#nombreDemandante.form-control.not-number(placeholder="Digite el NomBenef del demandante")
            .form-group
              label.control-label.col-sm-4 Demandado
              .col-sm-6
                input#idDemandado.form-control.not-number(placeholder="Digite el NomBenef del demandado", value="Colpensiones")
            .form-group
              label.control-label.col-sm-4 Nombre apoderado actual
              .col-sm-6
                input#nombreApoAct.form-control.not-number(placeholder="Digite el NomBenef del apoderado actual")
            .form-group
              label.control-label.col-sm-4 Cédula apoderado Colpensiones
              .col-sm-6
                input#idApoAct.form-control.number(placeholder="Digite la cédula del apoderado Colpensiones")
            .form-group
              label.control-label.col-sm-4 TP apoderado Colpensiones
              .col-sm-6
                input#idTarjetaPro.form-control.not-number(placeholder="Digite la tarjeta profesional del apoderado")
            .form-group
              label.control-label.col-sm-4 Clasificación trámites
              .col-sm-6
                select#clasTramit.form-control.not-number
                  option(selected="selected", value="Seleccione la clasificación de trámites") Seleccione la clasificación de trámites
                  option(value="nuevo") Proceso Nuevo
                  option(value="informativo") Proceso Informativo
            .form-group
              label.control-label.col-sm-4 Tipo informativo
              .col-sm-6
                select#tipoInfor.form-control.not-number
                  option(selected="selected", value="Seleccione el tipo de informativo") Seleccione el tipo de informativo
                  option(value="1") AUDIENCIA
                  option(value="2") CAMBIO DE DESPACHO
                  option(value="3") CONCILIACION EXTRA JUDICIAL
                  option(value="4") CUMPLIMIENTO A FALLO (PQR)
                  option(value="5") EJECUTIVO CON EMBARGO
                  option(value="6") EXISTENCIA DE PROCESO
                  option(value="7") INSPECCION JUDICIAL
                  option(value="8") PQRS
                  option(value="9") RENUNCIA ABOGADO
                  option(value="10") REQUERIMIENTO ENTE DE CONTROL
                  option(value="11") REQUERIMIENTO JUIDICIAL
                  option(value="12") TITULO JUDICIAL / REMANENTES
                  option(value="13") TUTELA
                  option(value="14") OTROS
            .form-group
              label.control-label.col-sm-4 Relación de informativo
              .col-sm-6
                input#relInfor.form-control.not-number(placeholder="Digite la relación de informativo")
            .form-group
              label.control-label.col-sm-4 Regional
              .col-sm-6
                select#idRegion.form-control.not-number
                  option(selected="selected", value="Seleccione la regional")
                  option(value="1") ANTIOQUIA
                  option(value="2") CENTRO
                  option(value="3") SANTANDER
                  option(value="4") SUR
                  option(value="5") EJE CAFETERO
                  option(value="6") BOGOTA
                  option(value="7") OCCIDENTE
                  option(value="8") CARIBE
            .form-group
              label.control-label.col-sm-4 Año de radicación
              .col-sm-6
                input#anoRad.form-control.number(placeholder="Digite el año de radicación")
            .form-group
              label.control-label.col-sm-4 Tipo de unidad
              .col-sm-6
                input#tipoUnid.form-control.not-number(placeholder="Digite el tipo de unidad", value="pesos")
            .form-group
              label.control-label.col-sm-4 Tipo de apoderado
              .col-sm-6
                input#tipoApo.form-control.not-number(placeholder="Digite el tipo de apoderado", value="externo")
        .col-xs-12
          .btn-group(role="group").pull-right
            .btn.btn-default.btn-md Limpiar
            .btn.btn-primary.btn-md Guardar
            .btn.btn-success.btn-md Continuar
      #daPrePro.tab-pane.fade.in
        fieldset
          legend Datos cualitativos, pretensiones y etapas procesales
          .form-group
            label.control-label.col-sm-4 Hechos del proceso
            .col-sm-6
              .textarea#hechosProces
                textarea(cols="73", rows="5", maxlength="300")
          .form-group
            label.control-label.col-sm-4 ¿De quién es el acto administrativo demandado?
            .col-sm-6
              select#propietarioActAdmDem.form-control.not-number
                option(selected="selected", value="Seleccione el propietario del acto administrativo demandado") Seleccione el propietario del acto administrativo demandado
                option(value="1") ISS
                option(value="2") COLPENSIONES
                option(value="3") OTROS
          .form-group
            label.control-label.col-sm-4 Número de la resolución
            .col-sm-6
              input#numResolicion.form-control.not-number(placeholder="Digite el número de la resolución" maxlength="100")
          .form-group
            label.control-label.col-sm-4 Causa del proceso / Fondo que cubre el riesgo
            .col-sm-6
              select#causaProces.form-control.not-number
                option(selected="selected", value="Seleccione la causa del proceso / Fondo que cubre el riesgo") Seleccione la causa del proceso / Fondo que cubre el riesgo
                option(value="1") INVALIDEZ
                option(value="2") VEJEZ
                option(value="3") SOBREVIVENCIA
                option(value="4") OTROS
          .form-group
            label.control-label.col-sm-4 Modalidad de pretensión
            .col-sm-6
              select#modPreten.form-control.not-number
                option(selected="selected", value="Seleccione la modalidad de pretensión") Seleccione la modalidad de pretensión
                option(value="1") RECONOCIMIENTO
                option(value="2") RELIQUIDACIÓN
                option(value="3") NO ES UN TEMA PENSIONAL
          .form-group
            label.control-label.col-sm-4 Pretensión principal
            .col-sm-6
              select#principalPreten.form-control.not-number
                option(selected="selected", value="Seleccione la pretensión principal") Seleccione la pretensión principal
                option(value="1") INVALIDEZ
                option(value="2") VEJEZ
                option(value="3") SOBREVIVIENTES
                option(value="4") AUXILIOS FUNERARIOS
                option(value="5") AFILIACIÓN
                option(value="6") MORA PATRONAL
                option(value="7") CONFLICTOS DE COMPETENCIA
                option(value="8") COLPENSIONES PATRONO
                option(value="9") ISS PATRONO
                option(value="10") OTROS
          .form-group
            label.control-label.col-sm-4 Clase de pretensión
            .col-sm-6
              select#clasePreten.form-control.not-number
                option(selected="selected", value="Seleccione la clase de pretensión") Seleccione la clase de pretensión
                option(value="1") INTERESES MORATORIOS
                option(value="2") RETROACTIVO
                option(value="3") INDEMNIZACIÓN SUSTITUTIVA - PRESCRIPCIÓN
                option(value="4") INDEMNIZACIÓN SUSTITUTIVA - REQUISITOS
                option(value="5") INDEMNIZACIÓN SUSTITUTIVA - RELIQUIDACIÓN
                option(value="6") DECRETO 758 DE 1990 - CONDICION MAS BENEFICIOSA
                option(value="7") LEY 797 DE 2003 - PROGRESIVIDAD
                option(value="8") LEY 860 DE 2003 - PROGRESIVIDAD
                option(value="9") ENFERMEDAD DEGENERATIVA - CATASTRÓFICA O CONGENITA
                option(value="10") FIDELIDAD
                option(value="11") INCAPACIDADES
          .form-group
            label.control-label.col-sm-4 Fecha de admisión de la demanda
            .col-sm-6
              input#fechaAdminDem.form-control(placeholder="Digite la fecha de admisión de la demanda")
          .form-group
            label.control-label.col-sm-4 Cuantía estimada en el proceso
            .col-sm-6
              input#cuantiaEstimada.form-control.number(placeholder="Digite la cuantía estimada en el proceso" maxlength="10")
          .form-group
            label.control-label.col-sm-4 Nombre afiliado causante
            .col-sm-6
              input#nomAfilCaus.form-control.not-number(placeholder="Digite el Nombre afiliado causante" maxlength="300")
          .form-group
            label.control-label.col-sm-4 CC afiliado causante/ identificación
            .col-sm-6
              input#idafilCaus.form-control.number(placeholder="Digite la CC afiliado causante/ identificación" maxlength="25")
          .dashed-group
            .form-group
              label.control-label.col-sm-4 Nombre beneficiario 1
              .col-sm-6
                input#nomBef1.form-control.not-number(placeholder="Digite el NomBenef beneficiario 1" maxlength="300")
            .form-group
              label.control-label.col-sm-4 Cédula ciudadanía beneficiario 1
              .col-sm-6
                input#idBef1.form-control.number(placeholder="Digite la cédula ciudadanía beneficiario 1" maxlength="25")
            .form-group
              label.control-label.col-sm-4
              .col-sm-6
                .btn-group.pull-right
                  .btn.btn-danger.btn-xs - beneficiario
                  .btn.btn-success.btn-xs + beneficiario
                  // Nota para el programador: El botón debe permitir agregar nuevos campos para "Nombre del beneficiario #" y "Cédula ciudadania beneficiario #". Según especificaciones del CUS002 se pueden agregar hasta 5 beneficiarios. Al quinto el botón se oculta.
          .form-group
            label.control-label.col-sm-4 Cantidad demandantes
            .col-sm-6
              input#cantDeman.form-control.number.not-number(placeholder="Digite la cantidad de demandantes" maxlength="2")
          .form-group
            label.control-label.col-sm-4 ¿Entre los demandantes hay una entidad pública?
            .col-sm-6
              select#entPub.form-control.not-number
                option(selected="selected", value="Seleccione una respuesta") Seleccione una respuesta
                option(value="si") Sí
                option(value="no") No
          .form-group
            label.control-label.col-sm-4 Clasificación riesgo procesal fortaleza de la defenza (Criterio 1)
            .col-sm-6
              input#criterio1.form-control.not-number(placeholder="Digite clasificación riesgo procesal fortaleza de la defenza")
          .form-group
            label.control-label.col-sm-4 Clasificación riesgo procesal fortaleza probatoria (Criterio 2)
            .col-sm-6
              input#criterio2.form-control.not-number(placeholder="Digite la clasificación riesgo procesal fortaleza probatoria")
          .form-group
            label.control-label.col-sm-4 Clasificación riesgo procesal riesgos procesales (Criterio 3)
            .col-sm-6
              input#criterio3.form-control.not-number(placeholder="Digite la clasificación riesgo procesal riesgos procesales")
          .form-group
            label.control-label.col-sm-4 Clasificación riesgo procesal nivel jurisprudencia (Criterio 4)
            .col-sm-6
              input#criterio4.form-control.not-number(placeholder="Digite la clasificación riesgo procesal nivel jurisprudencia")
          .form-group
            label.control-label.col-sm-4 Número de proceso Rama Judicial actual
            .col-sm-6
              input#numRamActual.form-control.number(placeholder="Digite el número de proceso Rama Judicial actual" maxlength="23")
          .form-group
            label.control-label.col-sm-4 Instancia actual
            .col-sm-6
              input#instanActual.form-control.not-number(placeholder="Digite la instancia actual")
          .form-group
            label.control-label.col-sm-4 Número de despacho actual
            .col-sm-6
              input#despachoActual.form-control.number(placeholder="Digite el número de despacho actual" maxlength="50")
          .form-group
            label.control-label.col-sm-4 Despacho actual
            .col-sm-6
              input#despachoActual.form-control.number(placeholder="Digite el despacho actual" maxlength="300")
          .form-group
              label.control-label.col-sm-4 Tiempo estimado del proceso
              .col-sm-6
                input#tiempoEstiProces.form-control.not-number(placeholder="Digite el tiempo estimado del proceso")
          .form-group
              label.control-label.col-sm-4 Etapa actual del proceso
              .col-sm-6
                input#etapaActualProces.form-control.not-number(placeholder="Digite la etapa actual del proceso")
          .form-group
              label.control-label.col-sm-4 Última situación procesal
              .col-sm-6
                input#ultimActuaProcesal.form-control.not-number(placeholder="Digite la última situación procesal")
          .form-group
              label.control-label.col-sm-4 Última actuación surtida en el proceso
              .col-sm-6
                input#ultimActuaSurtida.form-control.not-number(placeholder="Digite la última actuación surtida en el proceso" maxlength="300")
          .form-group
              label.control-label.col-sm-4 Fecha última situación
              .col-sm-6
                input#fechaUltimaSituacion.form-control(placeholder="Digite la fecha última situación")
          .col-xs-11
            .btn-group(role="group").pull-right
              .btn.btn-default.btn-md Limpiar
              .btn.btn-success.btn-md Volver
              .btn.btn-primary.btn-md Guardar
      #daCuantEstAct.tab-pane.fade.in
        fieldset
          legend Datos cuantitativos y estado actual del proceso
            .form-group
              label.control-label.col-sm-4 Provisión contable en caso de pérdida
              .col-sm-6
                input#provContaPerdida.form-control.number(placeholder="Digite la provisión contable en caso de pérdida" maxlength="10")
            .form-group
              label.control-label.col-sm-4 Sentido fallo 1 instancia
              .col-sm-6
                select#sentidoFallo1.form-control.not-number
                  option(selected="selected", value="Seleccione el sentido fallo 1 instancia") Seleccione el sentido fallo 1 instancia
                  option(value="1") Favorable
                  option(value="2") Desfavorable
                  option(value="3") Sin fallo
            .form-group
              label.control-label.col-sm-4 Fecha fallo
              .col-sm-6
                input#fechaFallo1.form-control(placeholder="Digite la fecha fallo")
            .form-group
              label.control-label.col-sm-4 Sentido fallo 2 instancia
              .col-sm-6
                select#sentidoFallo2.form-control.not-number
                  option(selected="selected", value="Seleccione el sentido fallo 2 instancia") Seleccione el sentido fallo 2 instancia
                  option(value="1") Favorable
                  option(value="2") Desfavorable
                  option(value="3") Sin fallo
            .form-group
              label.control-label.col-sm-4 Fecha fallo 2
              .col-sm-6
                input#fechaFallo2.form-control(placeholder="Digite la fecha fallo 2")
            .form-group
              label.control-label.col-sm-4 Liquidación de costas/no
              .col-sm-6
                select#liquiCostas.form-control.not-number
                  option(selected="selected", value="Seleccione la liquidación de costas/no") Seleccione la liquidación de costas/no
                  option(value="Sí") Sí
                  option(value="No") No
            .form-group
              label.control-label.col-sm-4 Costas
              .col-sm-6
                select#costas.form-control.not-number
                  option(selected="selected", value="Seleccione una opción") Seleccione una opción
                  option(value="A favor") A favor
                  option(value="En contra") En contra
            .form-group
              label.control-label.col-sm-4 Valor agencias en derecho
              .col-sm-6
                input#valorAgenDer.form-control.number(placeholder="Digite el valor agencias en derecho" maxlength="20")
            .form-group
              label.control-label.col-sm-4 Gastos procesales
              .col-sm-6
                input#gastosProces.form-control.number(placeholder="Digite el valor de gastos procesales" maxlength="20")
            .form-group
              label.control-label.col-sm-4 Recurso extraordinario
              .col-sm-6
                select#recursoExtra.form-control.not-number
                  option(selected="selected", value="Seleccione una opción") Seleccione una opción
                  option(value="Sí") Sí
                  option(value="No") No
                  option(value="Sin fallo") Sin fallo
            .form-group
              label.control-label.col-sm-4 Formas de terminación anormal del proceso (parcialmente)
              .col-sm-6
                select#formasTermin.form-control.not-number
                  option(selected="selected", value="Seleccione la forma de terminación anormal") Seleccione la forma de terminación anormal
                  option(value="1") CONCILIACIÓN JUDICIAL
                  option(value="2") DESISTIMIENTO
                  option(value="3") ACUMULACIÓN
                  option(value="4") NULIDAD POR FALTA DE JURISDICCIÓN
            .form-group
              label.control-label.col-sm-4 Valor del acuerdo
              .col-sm-6
                input#valorAcuerdo.form-control.number(placeholder="Digite el valor del acuerdo" maxlength="20")
            .form-group
              label.control-label.col-sm-4 Estado del proceso
              .col-sm-6
                select#formasTermin.form-control.not-number
                  option(selected="selected", value="Seleccione el estado del proceso") Seleccione el estado del proceso
                  option(value="1") Activo
                  option(value="2") Inactivo
            .form-group
              label.control-label.col-sm-4 ¿Proceso tiene embargo?
              .col-sm-6
                select#formasTermin.form-control.not-number
                  option(selected="selected", value="Seleccione una respuesta") Seleccione una respuesta
                  option(value="Sí") Sí
                  option(value="No") No
            .form-group
              label.control-label.col-sm-4 ¿Sentencia entregada para cumplimiento si / no?
              .col-sm-6
                select#entragadaCumplimiento.form-control.not-number
                  option(selected="selected", value="Seleccione una respuesta") Seleccione una respuesta
                  option(value="Sí") Sí
                  option(value="No") No
            .form-group
              label.control-label.col-sm-4 Fecha de ejecutoría de la sentencia
              .col-sm-6
                input#fechaEjecuSenten.form-control(placeholder="Digite la fecha de ejecutoría de la sentencia")
            .form-group
              label.control-label.col-sm-4 Valor de la sentencia
              .col-sm-6
                input#valorSenten.form-control.number(placeholder="Digite el valor de la sentencia" maxlength="20")
            .form-group
              label.control-label.col-sm-4 Valor intereses moratorios
              .col-sm-6
                input#valorInteresesMora.form-control.number(placeholder="Digite el valor de los intereses moratorios" maxlength="20")
            .form-group
              label.control-label.col-sm-4 Valor indexación
              .col-sm-6
                input#valorIndexa.form-control.number(placeholder="Digite el valor de la indexación" maxlength="20")
            .form-group
              label.control-label.col-sm-4 Hechos del proceso
              .col-sm-6
                .textarea#hechosProces
                  textarea(cols="73", rows="5", maxlength="300")
        .col-xs-12
          .btn-group(role="group").pull-right
            .btn.btn-default.btn-md Limpiar
            .btn.btn-success.btn-md Volver
            .btn.btn-primary.btn-md Guardar
      #daRepartProces.tab-pane.fade.in.active
        fieldset
          legend Datos del reparto del proceso
          .form-group
            label.control-label.col-sm-4 Usuario
            .col-sm-6
              input#usuario.form-control.not-number(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 Reparto
            .col-sm-6
              input#reparto.form-control.not-number(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 Notaria
            .col-sm-6
              input#notaria.form-control.not-number(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 Fecha expedición poder
            .col-sm-6
              input#fechaExpePoder.form-control(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 N°. Poder 1
            .col-sm-6
              input#numPoder1.form-control.not-number(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 N°. Poder 2
            .col-sm-6
              input#numPoder2.form-control.not-number(disabled="disabled")
          .form-group
              label.control-label.col-sm-4 Novedad de la solicitud
              .col-sm-6
                input#novedadSolic2.form-control.not-number(disabled="disabled")
          .form-group
              label.control-label.col-sm-4 N°. Poder 3
              .col-sm-6
                input#numPoder3.form-control.not-number(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 Novedad de la solicitud
            .col-sm-6
              input#novedadSolic3.form-control.not-number(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 Quién elabora el poder
            .col-sm-6
              input#quienElabPoder.form-control.not-number(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 Firma poder
            .col-sm-6
              input#firmaPoder.form-control.not-number(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 Fecha del envío del reparto
            .col-sm-6
              input#fechaEnvioRep.form-control(disabled="disabled")
          .form-group
            label.control-label.col-sm-4 Nombre apoderado contraparte
            .col-sm-6
              input#nomApoContra.form-control.not-number(disabled="disabled" maxlength="300")
          .form-group
            label.control-label.col-sm-4 Identificación apoderado contraparte
            .col-sm-6
              input#idApoContra.form-control.number(disabled="disabled" maxlength="25")
        .col-xs-12
          .btn-group(role="group").pull-right
            .btn.btn-default.btn-md Limpiar
            .btn.btn-success.btn-md Volver
            .btn.btn-primary.btn-md Guardar
