.navbar-default {
  .navbar-brand {
    color: rgba(255,255,255,0.87);
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1px;
  }
}

.navbar-default .navbar-nav a {
  color: rgba(255,255,255,0.87);
  font-size: 14px;
  font-weight: 500;
}

.navbar-default .navbar-nav a.router-link-active,
.navbar-default .navbar-nav a.router-link-active:hover, 
.navbar-default .navbar-nav a.router-link-active:focus {
    color: #106CC8;
    background-color: #FFF;
}

.navbar-default {
  background-color: #106CC8;
  border-color: #106CC8;
}
