//p
//  | Howdy! Here's a list of awesome computer scientists.
//  | Do you know any others? Add to the list yourself.
//form.form-inline((submit)='addName()')
//  .form-group
//    label.sr-only(for='newName') Awesome Computer Scientist
//    input#newName.form-control(type='text', [(ngModel)]='newName', placeholder='Awesome Computer Scientist')
//  button.btn.btn-primary(type='submit') Add
//ul
//  li(*ngFor='#name of nameListService.get()') {{name}}

//CUS007 Consultar información histórico proceso - Nota: Se recomienda un modal
.container
  form.form-horizontal(role="form")

    fieldset
      .col-sm-6
        legend Consulta histórico de procesos
        .form-group
          label.control-label.col-sm-4(for='fecha_inicio_notificacion') Fecha inicio notificaci&oacute;n
          .col-sm-6
            input#fecha_inicio_notificacion.form-control(placeholder='aaaa-mm-dd',
            pattern='(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))')
        .form-group
          label.control-label.col-sm-4(for='regional') Regional
          .col-sm-6
            select#regional.form-control.not-number
              option(value='') Seleccione la regional
              option(*ngFor='#regional of regionales$ | async',
              [value]='regional.reg_id') {{regional.reg_descripcion}}
        .form-group
          label.control-label.col-sm-4(for='nombre_apoderado_actual') Apoderado actual
          .col-sm-6
            select#nombre_apoderado_actual.form-control.not-number
              option(value='') Seleccione el apoderado
              //option(*ngFor='#regional of regionales$ | async',  ajustar
              //[value]='regional.reg_id') {{regional.reg_descripcion}}
        .form-group
          label.control-label.col-sm-4(for='instancia_actual') Instancia actual
          .col-sm-6
            select#instancia_actual.form-control.not-number
              option(selected="selected", value="Seleccione la instancia actual") Seleccione la instancia actual
              option(value="1") PRIMERA
              option(value="2") SEGUNDA
              option(value="3") UNICA
              option(value="4") CASACION / REVISION
              option(value="5") CONSULTA
        .form-group
          label.control-label.col-sm-4(for='ciudad_juzgado') Ciudad juzgado
          .col-sm-6
            select#ciudad_juzgado.form-control.not-number
              option(value='') Seleccione la ciudad del juzgado
              option(*ngFor='#municipio of municipios$ | async',
              [value]='municipio.mpi_id') {{municipio.mpi_descripcion}}
      .col-sm-6
        .form-group
          label.control-label.col-sm-5(for='fecha_fin_notificacion') Fecha fin notificaci&oacute;n
          .col-sm-6
            input#fecha_fin_notificacion.form-control(placeholder='aaaa-mm-dd',
            pattern='(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))')
        .form-group
          label.control-label.col-sm-5(for='con_actualizacion_de_etapas1') ¿Con actualización de etapas?
          .col-sm-6
            select#con_actualizacion_de_etapas1.form-control.not-number
              option(selected="selected", value="Seleccione la etapa actual del proceso") Seleccione la etapa actual del proceso
              option(value="1") Etapa1
              option(value="2") Etapa2
              option(value="3") Etapa3
              option(value="4") Etapa4
              option(value="5") Etapa5
              option(value="6") Etapa6
              option(value="7") Etapa7
              option(value="8") Etapa8
              option(value="9") Etapa9
              option(value="10") Etapa10
        .form-group
          label.control-label.col-sm-5(for='con_actualizacion_de_etapas2') ¿Con actualización de etapas?
          .col-sm-6
            select#con_actualizacion_de_etapas2.form-control.not-number
              option(selected="selected", value="Seleccione la etapa actual del proceso") Seleccione la etapa actual del proceso
              option(value="1") Etapa1
              option(value="2") Etapa2
              option(value="3") Etapa3
              option(value="4") Etapa4
              option(value="5") Etapa5
              option(value="6") Etapa6
              option(value="7") Etapa7
              option(value="8") Etapa8
              option(value="9") Etapa9
              option(value="10") Etapa10
        .form-group
          label.control-label.col-sm-5(for='departamento_juzgado') Departamento juzgado
          .col-sm-6
            select#departamento_juzgado.form-control(
            (change)='municipioService.loadAllByDepto($event.target.value)')
              option(value='') Seleccione el departamento del juzgado
              option(*ngFor='#departamento of departamentos$ | async',
              [value] = 'departamento.dpt_id') {{departamento.dpt_descripcion}}
      .col-sm-12
        .btn-group(role='group').pull-right
          input.btn.btn-default.btn-md(type='reset', value='Limpiar')
          input.btn.btn-primary.btn-md(type='submit', value='Consultar')
  fieldset
    .well
      p Se identificaron &lt;&lt;Número de registros calculados&gt;&gt; procesos con los filtros de consulta diligenciados
    .btn-group.pull-right
      .btn.btn-success.btn-md Exportar
