.navbar-default {
  margin-top: 1em;
  background-color: #f1f1f1;
  border-color: #f1f1f1;

  .navbar-brand {
    color: #2199e8;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1px;
  }
}

.navbar-default .navbar-nav a {
  color: #2199e8;
  font-size: 14px;
  font-weight: 500;
}

.navbar-default .navbar-nav a.router-link-active,
.navbar-default .navbar-nav a.router-link-active:hover, 
.navbar-default .navbar-nav a.router-link-active:focus {
    color: #1585cf;
    /*background-color: #FFF;*/
}
