.navbar-default {
  background-color: #005e9d !important;
  clear: both;

  .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1px;
  }
}

.navbar-default .navbar-nav a {
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 6px 3px;
}

a:hover, .active {
  text-decoration: underline !important;
}

// .navbar-default .navbar-nav a.router-link-active:hover, 
// .navbar-default .navbar-nav a.router-link-active:focus {
//   color: #88898a !important;
//   // background-color: #fcfcfc !important;
// }

.navbar {
  min-height: 5px !important;
  // background-color: #fcfcfc !important;
}

.upperNavbar {
  width: 100%;
  background-color: #f7f7f7 !important;
  border-bottom: 1px solid #e6e5e5;
  padding-top: 20px; 
}

.container-fluid, .navbar-collapse {
  padding: 0;
}


