.navbar-default {
  background-color: #005E9D;
  clear: both;

  .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.1px;
  }
}

.navbar-default .navbar-nav a {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 5px;
}

.navbar-default .navbar-nav a.router-link-active,
.navbar-default .navbar-nav a.router-link-active:hover, 
.navbar-default .navbar-nav a.router-link-active:focus {
  color: white;
  /*background-color: #FFF;*/
}

.navbar {
  min-height: 5px !important;
}
