//CUS002 Formularios de registro, CUS003 Validar duplicidad y CUS004 Corregir
.container
  .row([hidden]="submitted")
    ul.nav.nav-pills
      li.principalMenuItem
        a(href="#geoDatGen") Georeferenciación y Datos Generales
      //li.principalMenuItem
        a(href="#valDup") Validar Duplicidad
      li.principalMenuItem
        a(href="#daPrePro") Datos Cualitativos, Pretenciones y Etapas Procesales
      //li.principalMenuItem
        a(href="#valProDup") Estado de validación de los Procesos Duplicados
  .tab-content
    #geoDatGen.tab-pane.fade.in.active
      .header
        h3 Consulta de procesos / Validar duplicidad
      form.form-horizontal
        .form-group
          label.control-label.col-sm-4 23 dígitos del proceso / Número de proceso rama judicial
          .col-sm-6
            input.form-control(placeholder="Digite los 23 dígitos del proceso / Número de proceso rama judicial", (change)="onProcesoChange()")
        .form-group
          label.control-label.col-sm-4 CC demandante / identificación del demandante
          .col-sm-6
            input#idDemandante.form-control(placeholder="Digite el documento del demandante / identificación demandante")
        .form-group
          label.control-label.col-sm-4 Nombre del demandante
          .col-sm-6
            input#nombreDemandante.form-control(disabled="disabled", placeholder="Digite el nombre del demandante", value="Camilo Erazo")
        //.row
          .col-xs-11
            .btn.btn-primary.btn-md.pull-right Validar duplicidad
        .well.well-sm(*ngIf="procesos.length > 0")
          .table-responsive
            table.table.table-condensed.table-hover.table-curved
            caption.text-left Procesos judiciales asociados / duplicados
            thead.primary-emphasis
              tr
                th Notificación
                th 23 dígitos
                th Bizagi
                th Tipo proceso
                th Demandante
                th Cédula
                th Nombre despacho
                th Estado
                th.text-center Corregir
            tbody
              tr(*ngFor="#procesoDup of procesosDup")
                td {{procesoDup.pdu_id}}
                td {{procesoDup.prj_id}}
                td {{procesoDup.cup_id}}
                td {{procesoDup.pdu_estadoDiplicidad}}
                td {{procesoDup.pdu_fechaverificacion}}
                td {{procesoDup.pdu_loginverifica}}
                td {{procesoDup.prj_idduplicado}}
                //td 1234567891011121314151617
                //td 2016_132456
                //td ordinario laboral
                //td Camilo Erazo
                //td 80234562
                //td Juzgado 028
                //td Duplicado
                td.text-center
                  i.glyphicon.glyphicon-edit.btn-sm-primary(title="Corregir")
              tr
                td 2016-07-02
                td 1984465654654121314151617
                td 2016_132456
                td ordinario laboral
                td Camilo Erazo
                td 80234562
                td Juzgado 028
                td Cosa juzgada
                td.text-center
                  i.glyphicon.glyphicon-edit.btn-sm-primary(title="Corregir")
      .header
        h3 Georeferenciación y datos generales
      form.form-horizontal(role="form")
        .form-group
          label.control-label.col-sm-4 ID proceso
          .col-sm-6
            input#idProceso.form-control(ngModel="model.id", placeholder="Digite el ID del proceso")
        .form-group
          label.control-label.col-sm-4 ID litigar
          .col-sm-6
            input#idLitigar.form-control(ngModel="model.litigar", placeholder="Digite el ID a litigar")
        .form-group
          label.control-label.col-sm-4 Fecha de notificación
          .col-sm-6
            input#fechaNotificacion.form-control(ngModel="model.fecha", placeholder="Ingrese la fecha de notificación")
        .form-group
          label.control-label.col-sm-4 No. Bizagi - caso defensa judicial
          .col-sm-6
            input#idBizagi.form-control(ngModel="model.bizagi", placeholder="Digite el número Bizagi - caso defensa judicial")
        .form-group
          label.control-label.col-sm-4 No. de juzgado
          .col-sm-6
            input#idJuzgado.form-control(ngModel="model.juzgado.numero", placeholder="Digite el número del juzgado")
        .form-group
          label.control-label.col-sm-4 Tipo de juzgado
          .col-sm-6
            select.form-control
              option(selected="selected", value="Seleccione el tipo de juzgado") Seleccione el tipo de juzgado
              option(*ngFor="#juzgado of juzgados", [value]="juzgado.tij_id") {{juzgado.tij_descripcion}}
              //option(*ngFor='#juzgado of _service.getJuzgados()') {{juzgado.tij_descripcion}}
              //li(*ngFor='#name of nameListService.get()') {{name}}
        .form-group
          label.control-label.col-sm-4 Nombre de despacho inicial
          .col-sm-6
            select.form-control
              option(selected="selected", value="Seleccione el nombre del despacho inicial") Seleccione el nombre del despacho inicial
              option(*ngFor="#despacho of despachos", [value]="despacho.dei_id") {{despacho.dei_descripcion}}
              //option(value="050023184002") JUZGADO 002 PROMISCUO DE CIRCUITO DE ABEJORRAL
              //option(value="050023184003") JUZGADO 003 PROMISCUO DE CIRCUITO DE ABEJORRAL
              //option(value="050023189001") JUZGADO 001 PROMISCUO DE CIRCUITO DE ABEJORRAL
              //option(value="050024089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ABEJORRAL
              //option(value="050024089002") JUZGADO 002 PROMISCUO MUNICIPAL DE ABEJORRAL
              //option(value="050024089003") JUZGADO 003 PROMISCUO MUNICIPAL DE ABEJORRAL
              //option(value="050024105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ABEJORRAL
              //option(value="050024105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ABEJORRAL
              //option(value="050024105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ABEJORRAL
              //option(value="540034089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ÚBREGO
              //option(value="540034089002") JUZGADO 002 PROMISCUO MUNICIPAL DE ÚBREGO
              //option(value="540034089003") JUZGADO 003 PROMISCUO MUNICIPAL DE ÚBREGO
              //option(value="540034105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ABREGO
              //option(value="540034105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ABREGO
              //option(value="540034105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ABREGO
              //option(value="050044089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ABRIAQUÍ
              //option(value="050044105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ABRIAQUI
              //option(value="050044105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ABRIAQUI
              //option(value="050044105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ABRIAQUI
              //option(value="500063103001") JUZGADO 001 CIVIL DE CIRCUITO DE ACACÍAS
              //option(value="500063104001") JUZGADO 001 PENAL DE CIRCUITO DE ACACÍAS
              //option(value="500063105501") JUZGADO 501 LABORAL ADJUNTO AL PROMISCUO DE CIRCUITO DE ACACÍAS
              //option(value="500063184001") JUZGADO 001 PROMISCUO DE FAMILIA DE CIRCUITO DE ACACÍAS
              //option(value="500063187001") JUZGADO 001 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
              //option(value="500063187002") JUZGADO 002 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
              //option(value="500063187003") JUZGADO 003 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
              //option(value="500063187701") JUZGADO 701 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
              //option(value="500063187702") JUZGADO 702 EJECUCIÓN DE PENAS Y MEDIDAS DE SEGURIDAD DE CIRCUITO DE ACACÍAS
              //option(value="500064089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ACACÍAS
              //option(value="500064089002") JUZGADO 002 PROMISCUO MUNICIPAL DE ACACÍAS
              //option(value="110014103001") JUZGADO 001 MUNICIPAL DE PEQUEÑAS CAUSAS LABORALES DE BOGOTA PERMANENTE
              //option(value="500064105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ACACÍAS
              //option(value="500064105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ACACÍAS
              //option(value="500064105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ACACÍAS
              //option(value="270064089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ACANDÍ
              //option(value="270064105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ACANDÍ
              //option(value="270064105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ACANDÍ
              //option(value="270064105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ACANDÍ
              //option(value="410064089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ACEVEDO
              //option(value="410064105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ACEVEDO
              //option(value="410064105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ACEVEDO
              //option(value="410064105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ACEVEDO
              //option(value="130064089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ACHÍ
              //option(value="130064105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ACHÍ
              //option(value="130064105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ACHÍ
              //option(value="130064105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ACHÍ
              //option(value="410134089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGRADO
              //option(value="410134105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGRADO
              //option(value="410134105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGRADO
              //option(value="410134105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGRADO
              //option(value="250013105003") JUZGADO DE CIRCUITO - LABORAL 003 DE AGUA DE DIOS
              //option(value="250014089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUA DE DIOS
              //option(value="250014105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUA DE DIOS
              //option(value="250014105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUA DE DIOS
              //option(value="250014105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUA DE DIOS
              //option(value="200113103701") JUZGADO DESCONGESTIÓN 701 CIVIL DE CIRCUITO DE AGUACHICA
              //option(value="200113105001") JUZGADO 001 LABORAL DE CIRCUITO DE AGUACHICA
              //option(value="200113184001") JUZGADO 001 PROMISCUO DE FAMILIA DE CIRCUITO DE AGUACHICA
              //option(value="200113189001") JUZGADO 001 PROMISCUO DE CIRCUITO DE AGUACHICA
              //option(value="200114089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUACHICA
              //option(value="200114089002") JUZGADO 002 PROMISCUO MUNICIPAL DE AGUACHICA
              //option(value="200114105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUACHICA
              //option(value="200114105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUACHICA
              //option(value="200114105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUACHICA
              //option(value="680134089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUADA
              //option(value="680134105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUADA
              //option(value="680134105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUADA
              //option(value="680134105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUADA
              //option(value="170133103001") JUZGADO DE CIRCUITO - CIVIL 001 DE AGUADAS
              //option(value="170133104001") JUZGADO 001 PENAL DE CIRCUITO DE AGUADAS
              //option(value="170134089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUADAS
              //option(value="170134089002") JUZGADO 002 PROMISCUO MUNICIPAL DE AGUADAS
              //option(value="170134105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUADAS
              //option(value="170134105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUADAS
              //option(value="170134105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUADAS
              //option(value="850104089701") JUZGADO 701 PROMISCUO MUNICIPAL DE AGUAZUL
              //option(value="850104105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUAZUL
              //option(value="850104105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUAZUL
              //option(value="850104105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUAZUL
              //option(value="200134089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AGUSTÍN CODAZZI
              //option(value="200134089002") JUZGADO 002 PROMISCUO MUNICIPAL DE AGUSTÍN CODAZZI
              //option(value="200134105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AGUSTÍN CODAZZI
              //option(value="200134105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AGUSTÍN CODAZZI
              //option(value="200134105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AGUSTÍN CODAZZI
              //option(value="410164089001") JUZGADO 001 PROMISCUO MUNICIPAL DE AIPE
              //option(value="410164105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE AIPE
              //option(value="410164105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE AIPE
              //option(value="410164105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE AIPE
              //option(value="250194089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALBÁN
              //option(value="250194105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALBÁN
              //option(value="250194105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALBÁN
              //option(value="250194105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALBÁN
              //option(value="520194089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALBÁN SAN JOSÉ
              //option(value="520194105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALBÁN
              //option(value="520194105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALBÁN
              //option(value="520194105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALBÁN
              //option(value="440354089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALBANIA
              //option(value="440354105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALBANIA
              //option(value="440354105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALBANIA
              //option(value="440354105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALBANIA
              //option(value="680204089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALBANIA
              //option(value="680204105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALBANIA
              //option(value="680204105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALBANIA
              //option(value="680204105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALBANIA
              //option(value="760204089001") JUZGADO MUNICIPAL PROMISCUO 001 DE ALCALÁ
              //option(value="760204105001") JUZGADO DE PEQUEÑAS CAUSAS 001 DE ALCALÁ
              //option(value="760204105002") JUZGADO DE PEQUEÑAS CAUSAS 002 DE ALCALÁ
              //option(value="760204105003") JUZGADO DE PEQUEÑAS CAUSAS 003 DE ALCALÁ
              //option(value="520224089001") JUZGADO 001 PROMISCUO MUNICIPAL DE ALDANA
        .form-group
          label.control-label.col-sm-4 Departamento juzgado
          .col-sm-6
            select.form-control(ngModel="model.juzgado.depto")
              option(selected="selected", value="Seleccione el departamento del juzgado") Seleccione el departamento del juzgado
              option(*ngFor="#departamento of departamentos", [value]="departamento.dpt_id" ) {{departamento.dpt_descripcion}}
              //option(*ngFor="#departamento of departamentos", [value]="departamento.dpt_id" (ngModelChange)="onChange(getMunicipiosByDto(departamento.dpt_id)") {{departamento.dpt_descripcion}}
        .form-group
          label.control-label.col-sm-4 Ciudad de juzgado / Lugar de los hechos
          .col-sm-6
            select#ciudadJuzgado.form-control(ngModel="model.juzgado.ciudad")
              option(selected="selected", value="Seleccione la ciudad del juzgado / Lugar de los hechos") Seleccione la ciudad del juzgado / Lugar de los hechos
              //option([value]="municipio.mpi_id") {{municipio.mpi_descripcion}}
              //option(value="002") ABEJORRAL
              //option(value="003") ABREGO
              //option(value="004") ABRIAQUI
              //option(value="006") ACACÍAS
              //option(value="006") ACANDÍ
              //option(value="006") ACEVEDO
              //option(value="006") ACHÍ
              //option(value="013") AGRADO
              //option(value="001") AGUA_DE_DIOS
              //option(value="000") TRIBUNAL
              //option(value="011") AGUACHICA
              //option(value="013") AGUADA
              //option(value="013") AGUADAS
              //option(value="010") AGUAZUL
              //option(value="013") AGUSTÍN_CODAZZI
              //option(value="016") AIPE
              //option(value="019") ALBÁN
              //option(value="019") ALBÁN
              //option(value="020") ALBANIA
              //option(value="035") ALBANIA
              //option(value="029") ALBANIA
              //option(value="020") ALCALÁ
              //option(value="022") ALDANA
              //option(value="021") ALEJANDRIA
              //option(value="030") ALGARROBO
              //option(value="020") ALGECIRAS
              //option(value="022") ALMAGUER
              //option(value="022") ALMEIDA
              //option(value="024") ALPUJARRA
              //option(value="026") ALTAMIRA
              //option(value="025") ALTO_BAUDO
              //option(value="030") ALTOS_DEL_ROSARIO
              //option(value="026") ALVARADO
              //option(value="030") AMAGA
              //option(value="031") AMALFI
              //option(value="030") AMBALEMA
              //option(value="035") ANAPOIMA
              //option(value="036") ANCUYÁ
              //option(value="036") ANDALUCÍA
              //option(value="034") ANDES
              //option(value="036") ANGELOPOLIS
              //option(value="038") ANGOSTURA
              //option(value="040") ANOLAIMA
              //option(value="040") ANORI
              //option(value="042") ANSERMA
              //option(value="041") ANSERMANUEVO
              //option(value="044") ANZA
              //option(value="043") ANZOÁTEGUI
              //option(value="045") APARTADO
              //option(value="045") APÍA
              //option(value="599") APULO
              //option(value="047") AQUITANIA
              //option(value="053") ARACATACA
              //option(value="050") ARANZAZU
              //option(value="051") ARATOCA
              //option(value="001") ARAUCA
              //option(value="065") ARAUQUITA
              //option(value="053") ARBELÁEZ
              //option(value="051") ARBOLEDA
              //option(value="051") ARBOLEDAS
              //option(value="051") ARBOLETES
              //option(value="051") ARCABUCO
              //option(value="042") ARENAL
              //option(value="055") ARGELIA
              //option(value="054") ARGELIA
              //option(value="050") ARGELIA
              //option(value="058") ARIGUANÍ
              //option(value="052") ARJONA
              //option(value="059") ARMENIA
              //option(value="001") ARMENIA
              //option(value="055") ARMERO
              //option(value="062") ARROYOHONDO
              //option(value="032") ASTREA
              //option(value="067") ATACO
              //option(value="050") ATRATO
              //option(value="068") AYAPEL
              //option(value="073") BAGADÓ
              //option(value="075") BAHIA_SOLANO
              //option(value="077") BAJO_BAUDO
              //option(value="075") BALBOA
              //option(value="075") BALBOA
              //option(value="078") BARANOA
              //option(value="078") BARAYA
              //option(value="079") BARBACOAS
              //option(value="079") BARBOSA
              //option(value="077") BARBOSA
              //option(value="079") BARICHARA
              //option(value="110") BARRANCA_DE_UPÍA
              //option(value="081") BARRANCABERMEJA
              //option(value="078") BARRANCAS
              //option(value="074") BARRANCO_DE_LOBA
              //option(value="343") BARRANCO_MINAS
              //option(value="001") BARRANQUILLA
              //option(value="045") BECERRIL
              //option(value="088") BELALCÁZAR
              //option(value="087") BELÉN
              //option(value="083") BELÉN
              //option(value="086") BELÉN_DE_BAJIRÁ
              //option(value="094") BELÉN_DE_LOS_ANDAQUIES
              //option(value="088") BELÉN_DE_UMBRÍA
              //option(value="088") BELLO
              //option(value="086") BELMIRA
              //option(value="086") BELTRÁN
              //option(value="090") BERBEO
              //option(value="091") BETANIA
              //option(value="092") BETÉITIVA
              //option(value="093") BETULIA
              //option(value="092") BETULIA
              //option(value="095") BITUIMA
        .form-group
          label.control-label.col-sm-4 Radicado rama judicial / Número de radicación
          .col-sm-6
            input#radicadoRamJud.form-control(ngModel="model.numRadi", placeholder="Digite el radicado de la rama judicial / Número de radicación ej. 2015_000003")
        //.form-group
          label.control-label.col-sm-4 23 dígitos del proceso / Número de proceso rama judicial
          .col-sm-6
            input#veintiTresDig.form-control(placeholder="Digite los 23 dígitos del proceso / Número de proceso rama judicial")
        .form-group
          label.control-label.col-sm-4 Tipo de proceso
          .col-sm-6
            select.form-control(ngModel="model.tipo")
              option(selected="selected", value="Seleccione el tipo de proceso") Seleccione el tipo de proceso
              option(*ngFor="#tipoProceso of tiposProcesos", [value]="tipoProceso.tip_id") {{tipoProceso.tip_descripcion}}
        .form-group
          label.control-label.col-sm-4 Clasificación procesos /jurisdicción - acción
          .col-sm-6
            input#clasProcesos.form-control(ngModel="model.clasificacion", placeholder="Digite clasificación procesos /jurisdicción - acción")
        //.form-group
          label.control-label.col-sm-4 CC demandante / identificación demandante
          .col-sm-6
            input#idDemandante.form-control(placeholder="Digite el documento del demandante / identificación demandante")
        //.form-group
          label.control-label.col-sm-4 Nombre demandante
          .col-sm-6
            input#nombreDemandante.form-control(placeholder="Digite el nombre del demandante")
        .form-group
          label.control-label.col-sm-4 Demandado
          .col-sm-6
            input#idDemandado.form-control(ngModel="model.demandado", placeholder="Digite el nombre del demandado", value="Colpensiones")
        .form-group
          label.control-label.col-sm-4 Nombre apoderado actual
          .col-sm-6
            input#nombreApoAct.form-control(ngModel="model.apoderado.nombre", placeholder="Digite el nombre del apoderado actual")
        .form-group
          label.control-label.col-sm-4 Cédula apoderado Colpensiones
          .col-sm-6
            input#idApoAct.form-control(ngModel="model.apoderado.cedula", placeholder="Digite la cédula del apoderado Colpensiones")
        .form-group
          label.control-label.col-sm-4 Tarjeta profesional apoderado
          .col-sm-6
            input#idTarjetaPro.form-control(ngModel="model.apoderado.tarjeta", placeholder="Digite la tarjeta profesional del apoderado")
        .form-group
          label.control-label.col-sm-4 Clasificación trámites
          .col-sm-6
            select#clasTramit.form-control(ngModel="model.clasTramites")
              option(selected="selected", value="Seleccione la clasificación de trámites") Seleccione la clasificación de trámites
              option(*ngFor="#clasificacion of clasificaciones", [value]="clasificacion.clt_id") {{clasificacion.clt_descripcion}}
              //option(value="nuevo") Proceso Nuevo
              //option(value="informativo") Proceso Informativo
        .form-group
          label.control-label.col-sm-4 Tipo informativo
          .col-sm-6
            select#tipoInfor.form-control(ngModel="model.tipoInf")
              option(selected="selected", value="Seleccione el tipo de informativo") Seleccione el tipo de informativo
              option(*ngFor="#tipoInformativo of tiposInformativo", [value]="tipoInformativo.tii_id") {{tipoInformativo.tii_descripcion}}
              //option(value="1") AUDIENCIA
              //option(value="2") CAMBIO DE DESPACHO
              //option(value="3") CONCILIACION EXTRA JUDICIAL
              //option(value="4") CUMPLIMIENTO A FALLO (PQR)
              //option(value="5") EJECUTIVO CON EMBARGO
              //option(value="6") EXISTENCIA DE PROCESO
              //option(value="7") INSPECCION JUDICIAL
              //option(value="8") PQRS
              //option(value="9") RENUNCIA ABOGADO
              //option(value="10") REQUERIMIENTO ENTE DE CONTROL
              //option(value="11") REQUERIMIENTO JUIDICIAL
              //option(value="12") TITULO JUDICIAL / REMANENTES
              //option(value="13") TUTELA
              //option(value="14") OTROS
        .form-group
          label.control-label.col-sm-4 Relación de informativo
          .col-sm-6
            input#relInfor.form-control(ngModel="model.relacion", placeholder="Digite la relación de informativo")
        .form-group
          label.control-label.col-sm-4 Regional
          .col-sm-6
            select#idRegion.form-control(ngModel="model.regional")
              option(selected="selected", value="Seleccione la regional")
              option(*ngFor="#regional of regionales", [value]="regional.reg_id") {{regional.reg_descripcion}}
              //option(value="1") ANTIOQUIA
              //option(value="2") CENTRO
              //option(value="3") SANTANDER
              //option(value="4") SUR
              //option(value="5") EJE CAFETERO
              //option(value="6") BOGOTA
              //option(value="7") OCCIDENTE
              //option(value="8") CARIBE
        .form-group
          label.control-label.col-sm-4 Año de radicación
          .col-sm-6
            input#anoRad.form-control(ngModel="model.anioRadi", placeholder="Digite el año de radicación")
        .form-group
          label.control-label.col-sm-4 Tipo de unidad
          .col-sm-6
            input#tipoUnid.form-control(ngModel="model.tipoUni", placeholder="Digite el tipo de unidad", value="pesos")
        .form-group
          label.control-label.col-sm-4 Tipo de apoderado
          .col-sm-6
            input#tipoApo.form-control(ngModel="model.apoderado.tipo", placeholder="Digite el tipo de apoderado", value="externo")
      .col-xs-11
        .btn-group(role="group").pull-right
          .btn.btn-default.btn-md Limpiar
          .btn.btn-primary.btn-md(type="submit") Guardar
          .btn.btn-success.btn-md Continuar
    #daPrePro.tab-pane.fade.in
      .header
        h3 Datos cualitativos, pretensiones y etapas procesales
      form.form-horizontal((Submit) = "onSubmit()")
        .form-group
          label.control-label.col-sm-4 Hechos del proceso
          .col-sm-6
            .textarea#hechosProces
              textarea(ngModel="model.hechos",cols="73", rows="5", maxlength="300")
        .form-group
          label.control-label.col-sm-4 ¿De quién es el acto administrativo demandado?
          .col-sm-6
            select#propietarioActAdmDem.form-control(ngModel="model.actoAdmin")
              option(selected="selected", value="Seleccione el propietario del acto administrativo demandado") Seleccione el propietario del acto administrativo demandado
              option(*ngFor="#actoAdmin of actosAdmin", [value]="actoAdmin.ead_id") {{actoAdmin.ead_descripcion}}
        .form-group
          label.control-label.col-sm-4 Número de la resolución
          .col-sm-6
            input#numResolicion.form-control(ngModel="model.numRes", placeholder="Digite el número de la resolución")
        .form-group
          label.control-label.col-sm-4 Causa del proceso / Fondo que cubre el riesgo
          .col-sm-6
            select#causaProces.form-control(ngModel="model.causa")
              option(selected="selected", value="Seleccione la causa del proceso / Fondo que cubre el riesgo") Seleccione la causa del proceso / Fondo que cubre el riesgo
              option(*ngFor="#causa of causas", [value]="causa.cap_id") {{causa.cap_descripcion}}
        .form-group
          label.control-label.col-sm-4 Modalidad de pretensión
          .col-sm-6
            select#modPreten.form-control(ngModel="model.modPret", name="modPret")
              option(selected="selected", value="Seleccione la modalidad de pretensión") Seleccione la modalidad de pretensión
              option(*ngFor="#modPretension of modPretensiones", [value]="modPretension.mop_id") {{modPretension.mop_descripcion}}
        .form-group
          label.control-label.col-sm-4 Pretensión principal
          .col-sm-6
            select#principalPreten.form-control(ngModel="model.pretencion", name="pretencion")
              option(selected="selected", value="Seleccione la pretensión principal") Seleccione la pretensión principal
              option(value="1") INVALIDEZ
              option(value="2") VEJEZ
              option(value="3") SOBREVIVIENTES
              option(value="4") AUXILIOS FUNERARIOS
              option(value="5") AFILIACIÓN
              option(value="6") MORA PATRONAL
              option(value="7") CONFLICTOS DE COMPETENCIA
              option(value="8") COLPENSIONES PATRONO
              option(value="9") ISS PATRONO
              option(value="10") OTROS
        .form-group
          label.control-label.col-sm-4 Clase de pretensión
          .col-sm-6
            select#clasePreten.form-control(ngModel="model.clasePret")
              option(selected="selected", value="Seleccione la clase de pretensión") Seleccione la clase de pretensión
              option(value="1") INTERESES MORATORIOS
              option(value="2") RETROACTIVO
              option(value="3") INDEMNIZACIÓN SUSTITUTIVA - PRESCRIPCIÓN
              option(value="4") INDEMNIZACIÓN SUSTITUTIVA - REQUISITOS
              option(value="5") INDEMNIZACIÓN SUSTITUTIVA - RELIQUIDACIÓN
              option(value="6") DECRETO 758 DE 1990 - CONDICION MAS BENEFICIOSA
              option(value="7") LEY 797 DE 2003 - PROGRESIVIDAD
              option(value="8") LEY 860 DE 2003 - PROGRESIVIDAD
              option(value="9") ENFERMEDAD DEGENERATIVA - CATASTRÓFICA O CONGENITA
              option(value="10") FIDELIDAD
              option(value="11") INCAPACIDADES
        .form-group
          label.control-label.col-sm-4 Fecha de admisión de la demanda
          .col-sm-6
            input#fechaAdminDem.form-control(ngModel="model.fechaDem", placeholder="Digite la fecha de admisión de la demanda")
        .form-group
          label.control-label.col-sm-4 Cuantía estimada en el proceso
          .col-sm-6
            input#cuantiaEstimada.form-control(ngModel="model.cuantia", placeholder="Digite la cuantía estimada en el proceso")
        .form-group
          label.control-label.col-sm-4 Nombre afiliado causante
          .col-sm-6
            input#nomAfilCaus.form-control(ngModel="model.afiliado.nombre", placeholder="Digite el Nombre afiliado causante")
        .form-group
          label.control-label.col-sm-4 CC afiliado causante/ identificación
          .col-sm-6
            input#idafilCaus.form-control(ngModel="model.afiliado.cedula", placeholder="Digite la CC afiliado causante/ identificación")
        .dashed-group
          .form-group
            label.control-label.col-sm-4 Nombre beneficiario 1
            .col-sm-6
              input#nomBef1.form-control(ngModel="model.afiliado.beneficiario", placeholder="Digite el nombre beneficiario 1")
          .form-group
            label.control-label.col-sm-4 Cédula ciudadanía beneficiario 1
            .col-sm-6
              input#idBef1.form-control(ngModel="model.afiliado.cedulaBen", placeholder="Digite la cédula ciudadanía beneficiario 1")
          .form-group
            label.control-label.col-sm-4
            .col-sm-6
              .btn-group.pull-right
                .btn.btn-danger.btn-xs - beneficiario
                .btn.btn-success.btn-xs + beneficiario
                // Nota para el programador: El botón debe permitir agregar nuevos campos para "Nombre del beneficiario #" y "Cédula ciudadania beneficiario #". Según especificaciones del CUS002 se pueden agregar hasta 5 beneficiarios. Al quinto el botón se oculta.
        .form-group
          label.control-label.col-sm-4 Cantidad demandantes
          .col-sm-6
            input#cantDeman.form-control(ngModel="model.canDemandantes", placeholder="Digite la cantidad de demandantes")
        .form-group
          label.control-label.col-sm-4 ¿Entre los demandantes hay una entidad pública?
          .col-sm-6
            select#entPub.form-control(ngModel="model.respuesta")
              option(selected="selected", value="Seleccione una respuesta") Seleccione una respuesta
              option(value="si") Sí
              option(value="no") No
        .form-group
          label.control-label.col-sm-4 Nombre apoderado contraparte
          .col-sm-6
            input#apoContra.form-control(ngModel="model.apodeContra.nombre", placeholder="Digite el nombre apoderado contraparte")
        .form-group
          label.control-label.col-sm-4 Identificación apoderado contraparte
          .col-sm-6
            input#apoContraId.form-control(ngModel="model.apodeContra.cedula", placeholder="Digite la Identificación apoderado contraparte")
      .col-xs-11
        .btn-group(role="group").pull-right
          .btn.btn-default.btn-md Limpiar
          .btn.btn-success.btn-md Volver
          .btn.btn-primary.btn-md(type="submit") Guardar
