select#tipoJuzgado.form-control
  option(selected="selected", value="Seleccione el tipo de juzgado") Seleccione el tipo de juzgado
  option(*ngFor='#juzgado of juzgados', value="{{juzgado.tij_id}}") {{juzgado.tij_descripcion}}
