<!DOCTYPE html>
<html lang="en">
  <head>
      <base href="<%= APP_BASE %>">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title><%= APP_TITLE %></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- inject:css -->
      <!-- endinject -->
  </head>
  <body>
    <div class="top blanco_f">
      <div class="contenedor_uno blanco_f">
        <img class="colpensionesLogo" src="assets/img/logo_colpensiones.png" alt="Colpensiones">
        <img class="repColLog pull-right" src="assets/img/escudo_colombia.png" alt="República de Colombia">
      </div>
    </div>
    <!-- <div class="top_linea azulOsc_f"> -->
      <!-- <div class="contenedor_uno azulOsc_f">
        <span>
          <img id="Image2" title="disminuir" onclick="javascript:cambiar('body',-1)" src="images/font-small.jpg" alt="disminuir" style="cursor: pointer">
        </span>
        <span>
          <a id="btn_middle" title="Tamaño de letra normal" class="RadButton RadButton_Metro rbImageButton" href="javascript:void(0)" style="display:inline-block;height:22px;width:22px;background-image:url(/zonat/images/font-middle.jpg);line-height:22px;line-height:22px;height:22px;"><span class="rbText rbHideElement" style="width:100%;padding-left:0;padding-right:0;text-align:center;"></span><input id="btn_middle_ClientState" name="btn_middle_ClientState" type="hidden" autocomplete="off"></a>
        </span>
        <span>
          <img id="Image1" title="aumentar" onclick="javascript:cambiar('body',f1)" src="images/font-big.jpg" alt="aumentar" style="cursor: pointer;" data-pin-nopin="true">
        </span>
      </div> -->
    <!-- </div> -->

    <sd-app>Loading...</sd-app>

    <div class="footer text-right">
      <p>Call Center: Bogotá +57(1)-489 0909 - Medellín: +57(4)-283 60 90</p>
      <p>Resto del País:+57 018000 41 0909</p>
      <p>Sede Principal: Carrera 10 No. 72 - 33 Torre B Piso 11 | PBX +57(1)-217 01 00</p>
      <p>Horario Lunes - Viernes de 7:30 a.m. a 4:00 p.m. | Bogotá D.C. - Colombia</p>
    </div>

    <!--Scripts para el frontend-->
    <script type="text/javascript">

    function textarea() {
      
    }

    </script>

    <script>
        // function.name (all IE)
        // Remove once https://github.com/angular/angular/issues/6501 is fixed.
        /*! @source http://stackoverflow.com/questions/6903762/function-name-not-supported-in-ie*/
        if (!Object.hasOwnProperty('name')) {
            Object.defineProperty(Function.prototype, 'name', {
                get: function () {
                    var matches = this.toString().match(/^\s*function\s*(\S*)\s*\(/);
                    var name = matches && matches.length > 1 ? matches[1] : "";
                    // For better performance only parse once, and then cache the
                    // result through a new accessor for repeated access.
                    Object.defineProperty(this, 'name', {value: name});
                    return name;
                }
            });
        }
    </script>

    <script>
        // Fixes undefined module function in SystemJS bundle
        function module() {}
    </script>

    <!-- shims:js -->
    <!-- endinject -->

    <% if (ENV === 'dev') { %>
    <script>System.config( <%= JSON.stringify(SYSTEM_CONFIG) %> )</script>
    <% } %>

    <!-- libs:js -->
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <% if (ENV === 'dev') { %>
    <script>
      System.import('<%= BOOTSTRAP_MODULE %>')
      .catch(function (e) {
        console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
      });
    </script>
    <% } %>

</body>
</html>
