//p
//  | Howdy! Here's a list of awesome computer scientists.
//  | Do you know any others? Add to the list yourself.
//form.form-inline((submit)='addName()')
//  .form-group
//    label.sr-only(for='newName') Awesome Computer Scientist
//    input#newName.form-control(type='text', [(ngModel)]='newName', placeholder='Awesome Computer Scientist')
//  button.btn.btn-primary(type='submit') Add
//ul
//  li(*ngFor='#name of nameListService.get()') {{name}}

//CUS011 loguin
.container
  .header
    h3 Inicie sesión en Procesos Judiciales
  form.form-horizontal(role="form")
    .form-group
      .col-sm-6.col-sm-offset-3
        input#email.form-control(placeholder="Digite el email, ejemplo@ejemplo.com")
    .form-group
      .col-sm-6.col-sm-offset-3
        input#password.form-control(placeholder="Digite la contraseña")
    .form-group
      .col-sm-6.col-sm-offset-3
        select#email.form-control
          option(selected="selected", value="Seleccione un dominio") Seleccione un dominio
          option(value="Colpensiones") Colpensiones
          option(value="Externo") Externo
    .col-sm-3.col-sm-offset-3
      a Recuperar contraseña
    .col-sm-3
      .btn-group.pull-right
        .btn.btn-default.btn-md Limpiar
        .btn.btn-primary.btn-md Ingresar
