//CUS002 Formularios de registro, CUS003 Validar duplicidad y CUS004 Corregir
.container
  .row
    ul.nav.nav-pills
      li.principalMenuItem
        a(href="#geoDatGen") Georeferenciación y Datos Generales
      //li.principalMenuItem
        a(href="#valDup") Validar Duplicidad
      li.principalMenuItem
        a(href="#daPrePro") Datos Cualitativos, Pretenciones y Etapas Procesales
      //li.principalMenuItem
        a(href="#valProDup") Estado de validación de los Procesos Duplicados
  .tab-content
    #geoDatGen.tab-pane.fade.in
    #daPrePro.tab-pane.fade.in.active
      .header
        h3 Datos cualitativos, pretensiones y etapas procesales
      form.form-horizontal(role="form")
        .form-group
          label.control-label.col-sm-4 Hechos del proceso
          .col-sm-6
            .textarea#hechosProces
              textarea(cols="73", rows="5", maxlength="300")
        .form-group
          label.control-label.col-sm-4 ¿De quién es el acto administrativo demandado?
          .col-sm-6
            select#propietarioActAdmDem.form-control
              option(selected="selected", value="Seleccione el propietario del acto administrativo demandado") Seleccione el propietario del acto administrativo demandado
              option(value="1") ISS
              option(value="2") COLPENSIONES
              option(value="3") OTROS
        .form-group
          label.control-label.col-sm-4 Número de la resolución
          .col-sm-6
            input#numResolicion.form-control(placeholder="Digite el número de la resolución")
        .form-group
          label.control-label.col-sm-4 Causa del proceso / Fondo que cubre el riesgo
          .col-sm-6
            select#causaProces.form-control
              option(selected="selected", value="Seleccione la causa del proceso / Fondo que cubre el riesgo") Seleccione la causa del proceso / Fondo que cubre el riesgo
              option(value="1") INVALIDEZ
              option(value="2") VEJEZ
              option(value="3") SOBREVIVENCIA
              option(value="4") OTROS
        .form-group
          label.control-label.col-sm-4 Modalidad de pretensión
          .col-sm-6
            select#modPreten.form-control
              option(selected="selected", value="Seleccione la modalidad de pretensión") Seleccione la modalidad de pretensión
              option(value="1") RECONOCIMIENTO
              option(value="2") RELIQUIDACIÓN
              option(value="3") NO ES UN TEMA PENSIONAL
        .form-group
          label.control-label.col-sm-4 Pretensión principal
          .col-sm-6
            select#principalPreten.form-control
              option(selected="selected", value="Seleccione la pretensión principal") Seleccione la pretensión principal
              option(value="1") INVALIDEZ
              option(value="2") VEJEZ
              option(value="3") SOBREVIVIENTES
              option(value="4") AUXILIOS FUNERARIOS
              option(value="5") AFILIACIÓN
              option(value="6") MORA PATRONAL
              option(value="7") CONFLICTOS DE COMPETENCIA
              option(value="8") COLPENSIONES PATRONO
              option(value="9") ISS PATRONO
              option(value="10") OTROS
        .form-group
          label.control-label.col-sm-4 Clase de pretensión
          .col-sm-6
            select#clasePreten.form-control
              option(selected="selected", value="Seleccione la clase de pretensión") Seleccione la clase de pretensión
              option(value="1") INTERESES MORATORIOS
              option(value="2") RETROACTIVO
              option(value="3") INDEMNIZACIÓN SUSTITUTIVA - PRESCRIPCIÓN
              option(value="4") INDEMNIZACIÓN SUSTITUTIVA - REQUISITOS
              option(value="5") INDEMNIZACIÓN SUSTITUTIVA - RELIQUIDACIÓN
              option(value="6") DECRETO 758 DE 1990 - CONDICION MAS BENEFICIOSA
              option(value="7") LEY 797 DE 2003 - PROGRESIVIDAD
              option(value="8") LEY 860 DE 2003 - PROGRESIVIDAD
              option(value="9") ENFERMEDAD DEGENERATIVA - CATASTRÓFICA O CONGENITA
              option(value="10") FIDELIDAD
              option(value="11") INCAPACIDADES  
        .form-group
          label.control-label.col-sm-4 Fecha de admisión de la demanda
          .col-sm-6
            input#fechaAdminDem.form-control(placeholder="Digite la fecha de admisión de la demanda")
        .form-group
          label.control-label.col-sm-4 Cuantía estimada en el proceso
          .col-sm-6
            input#cuantiaEstimada.form-control(placeholder="Digite la cuantía estimada en el proceso")
        .form-group
          label.control-label.col-sm-4 Nombre Afiliado Causante
          .col-sm-6
            input#nomAfilCaus.form-control(placeholder="Digite el nombre Afiliado Causante")
        .form-group
          label.control-label.col-sm-4 CC afiliado Causante/ identificación
          .col-sm-6
            input#idafilCaus.form-control(placeholder="Digite la CC afiliado Causante/ identificación")
        .dashed-group
          .form-group
            label.control-label.col-sm-4 Nombre beneficiario 1
            .col-sm-6
              input#nomBef1.form-control(placeholder="Digite el nombre beneficiario 1")
          .form-group
            label.control-label.col-sm-4 Cédula ciudadanía beneficiario 1
            .col-sm-6
              input#idBef1.form-control(placeholder="Digite la cédula ciudadanía beneficiario 1")
          .form-group
            label.control-label.col-sm-4
            .col-sm-6
              .btn-group.pull-right
                .btn.btn-danger.btn-xs - beneficiario
                .btn.btn-success.btn-xs + beneficiario
                // Nota para el programador: El botón debe permitir agregar nuevos campos para "Nombre del beneficiario #" y "Cédula ciudadania beneficiario #". Según especificaciones del CUS002 se pueden agregar hasta 5 beneficiarios. Al quinto el botón se oculta.
        .form-group
          label.control-label.col-sm-4 Cantidad demandantes
          .col-sm-6
            input#cantDeman.form-control(placeholder="Digite la cantidad de demandantes")
        .form-group
          label.control-label.col-sm-4 ¿Entre los demandantes hay una entidad pública?
          .col-sm-6
            select#entPub.form-control
              option(selected="selected", value="Seleccione una respuesta") Seleccione una respuesta
              option(value="si") Sí
              option(value="no") No
        .form-group
          label.control-label.col-sm-4 Nombre apoderado contraparte
          .col-sm-6
            input#apoContra.form-control(placeholder="Digite el nombre apoderado contraparte")
        .form-group
          label.control-label.col-sm-4 Identificación apoderado contraparte
          .col-sm-6
            input#apoContra.form-control(placeholder="Digite la Identificación apoderado contraparte")
      .col-xs-11
        .btn-group(role="group").pull-right
          .btn.btn-default.btn-md Limpiar
          .btn.btn-success.btn-md Volver
          .btn.btn-primary.btn-md Guardar
