//CUS008 Cargar archivo información BUPC
.container
  .header
    p Carga de archivos al sistema
  .jumbotron
    p Para cargar un archivo presione el botón <i>Examinar</i> y luego el botón <i>Cargar</i>
    input.custom-file-input(type="file")
    .text-center.spacer
      p ¡El archivo se ha cargado de forma exitosa!
    .btn-group.pull-right
      .btn.btn-default.btn-md Cancelar
      .btn.btn-primary.btn-md Cargar
