:host {
  display: block;
  padding: 0 16px;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
}

.titleItem {
  color:#245575 !important;
  text-decoration: none !important;
}

.principalMenuItem {
  margin-left: 0;
  border-radius: 15px 15px 0 0;
	font-size: 12px !important;
  color: #23527c !important;
  background: #23527c;

  :hover {
    border-radius: 15px 15px 0 0;
  	color: #b7ddf7 !important;
    background: #23527c;
  }
}

.tab-content {
  padding-left: 10px;
}

$break-small: 325px;
$break-medium: 426px;

.control-label { 
  font-size: 12px;
}

.header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.dashed-line {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  margin: 15px 0 30px 0;
}

.dashed-group {
  padding-top: 30px;
  padding-bottom: 15px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  margin: 15px 0 15px 0; 
}

.dashed-separator-top {
  padding-top: 30px;
  border-top: 1px dashed #ccc;
  // margin: 15px 0 15px 0; 
}

.dashed-separator-bottom {
  padding-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  // margin: 15px 0 15px 0; 
}

textarea {
  border: 0;
  resize: none;
}

.textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.non-display {
  display: none;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

table {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 12px;
}

.primary-emphasis {
  background: #337ab7;
  color: #fff;
}

// .input-sm {
//   font-size: 10px;
//   height: 18px;
//   padding: 0px 5px;
//   margin-left: -5px;
// }

td {
  .glyphicon {
    margin-left: 4px;
    margin-right: 4px;
  }
}

// .btn-sm {
//   cursor: pointer;
//   font-size: 15px;
//   text-shadow: -1px 1px 0px rgba(150, 150, 150, 1);

//   // &:hover {
//   //   color: #ccc;
//   //   text-shadow: -1px 1px 0px rgba(150, 150, 150, 1);
//   // }

//   &:active {
//     color: #ccc;
//     margin-top: 0.5px;
//     text-shadow: -0.5px -1px 0px rgba(150, 150, 150, 1);
//   }
// }

// .btn-sm-primary {
//   color: #337ab7;
//   @extend .btn-sm;
// }

// .btn-sm-success {
//   color: #4cae4c;
//   @extend .btn-sm;
// }

// .btn-sm-danger {
//   color: #d9534f;
//   @extend .btn-sm;
// }

.flip-glyphicon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.well {
  margin-top: 20px;
  background: white;

  table {
    margin-top: 0px;
    margin-bottom: 5px;

    caption {
      font-size: 20px;
      padding-top: 10px;
    }
  }
}

// i[title]:hover:after {
//   content: attr(title);
//   font: -webkit-control;
//       padding: 7px 7px;
//   color: #fff;
//   position: absolute;
//   right: -26px;
//   bottom: 150%;
//   z-index: 20;
//   white-space: nowrap;
//   -moz-border-radius: 5px;
//   -webkit-border-radius: 5px;
//   border-radius: 5px;
//   -moz-box-shadow: 0px 0px 4px #222;
//   -webkit-box-shadow: 0px 0px 4px #222;
//   box-shadow: 0px 0px 4px #222;
//   background-image: -moz-gradient(top, #337ab7, #286090);
//   background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #337ab7),color-stop(1, #286090));
//   background-image: -webkit-gradient(top, #337ab7, #286090);
//   background-image: -moz-gradient(top, #337ab7, #286090);
//   background-image: -ms-gradient(top, #337ab7, #286090);
//   background-image: -o-gradient(top, #337ab7, #286090);
//   .flip-glyphicon {
    
//   }
// }

.empty-input {
  min-height: 34px;
  height: 34px;
}