//p
//  | Howdy! Here's a list of awesome computer scientists.
//  | Do you know any others? Add to the list yourself.
//form.form-inline((submit)='addName()')
//  .form-group
//    label.sr-only(for='newName') Awesome Computer Scientist
//    input#newName.form-control(type='text', [(ngModel)]='newName', placeholder='Awesome Computer Scientist')
//  button.btn.btn-primary(type='submit') Add
//ul
//  li(*ngFor='#name of nameListService.get()') {{name}}


.container
  .row
    ul.nav.nav-pills
      li.principalMenuItem
        a(href="#geoDatGen") Georeferenciación y Datos Generales
      li.principalMenuItem
        a(href="#valDup") Validar Duplicidad
      li.principalMenuItem
        a(href="#daPrePro") Datos Cualitativos, Pretenciones y Etapas Procesales
      li.principalMenuItem
        a(href="#valProDup") Estado de validación de los Procesos Duplicados
  .row
    .tab-content
      #geoDatGen.tab-pane.fade.in.active
        .header
          h3 Georeferenciación y Datos Generales
        form.form-horizontal(role="form")
          form-group
            label.control-label.col-sm-4 ID proceso
            col-sm-6
              input#idProcess.form-control(placeholder="Digite ID del proceso")
          form-group
            label.control-label.col-sm-4 ID litigar
            col-sm-6
              input#idProcess.form-control(placeholder="Digite ID a litigar")
          form-group
            label.control-label.col-sm-4 Fecha de notificación
            col-sm-6
              input#idProcess.form-control(placeholder="Ingrese fecha de notificación")
          form-group
            label.control-label.col-sm-4 No. Bizagi - caso defensa judicial
            col-sm-6
              input#idProcess.form-control(placeholder="Digite No. Bizagi - caso defensa judicial")
          form-group
            label.control-label.col-sm-4 No. de juzgado
            col-sm-6
              input#idProcess.form-control(placeholder="Digite No. de juzgado")
          form-group
            label.control-label.col-sm-4 Tipo de juzgado
            col-sm-6
              input#idProcess.form-control(placeholder="Seleccione tipo de juzgado")
          form-group
            label.control-label.col-sm-4 Nombre de despacho inicial
            col-sm-6
              input#idProcess.form-control(placeholder="Seleccione nombre de despacho inicial")
          form-group
            label.control-label.col-sm-4 Departamento juzgado
            col-sm-6
              input#idProcess.form-control(placeholder="Seleccione departamento juzgado")
          form-group
            label.control-label.col-sm-4 Ciudad de juzgado / Lugar de los hechos
            col-sm-6
              input#idProcess.form-control(placeholder="Seleccione ciudad de juzgado / Lugar de los hechos")
          form-group
            label.control-label.col-sm-4 Radicado rama judicial / Número de radicación
            col-sm-6
              input#idProcess.form-control(placeholder="Digite Radicado rama judicial / Número de radicación ej. 2015_000003")
          form-group
            label.control-label.col-sm-4 23 dígitos del proceso / Número de proceso rama judicial
            col-sm-6
              input#idProcess.form-control(placeholder="Digite 23 dígitos del proceso / Número de proceso rama judicial")
          form-group
            label.control-label.col-sm-4 Tipo de proceso
            col-sm-6
              input#idProcess.form-control(placeholder="Seleccione tipo de proceso")
          form-group
            label.control-label.col-sm-4 Clasificación procesos /jurisdicción - acción
            col-sm-6
              input#idProcess.form-control(placeholder="Digite clasificación procesos /jurisdicción - acción")
          form-group
            label.control-label.col-sm-4 Clasificación procesos /jurisdicción - acción
            col-sm-6
              input#idProcess.form-control(placeholder="Digite clasificación procesos /jurisdicción - acción")
          form-group
            label.control-label.col-sm-4 CC demandante / identificación demandante
            col-sm-6
              input#idProcess.form-control(placeholder="Digite CC demandante / identificación demandante")
          form-group
            label.control-label.col-sm-4 Nombre demandante
            col-sm-6
              input#idProcess.form-control(placeholder="Digite nombre demandante")
          form-group
            label.control-label.col-sm-4 Demandado
            col-sm-6
              input#idProcess.form-control(placeholder="Digite demandado")
          form-group
            label.control-label.col-sm-4 Nombre apoderado actual
            col-sm-6
              input#idProcess.form-control(placeholder="Digite nombre apoderado actual")
          form-group
            label.control-label.col-sm-4 Cédula apoderado Colpensiones
            col-sm-6
              input#idProcess.form-control(placeholder="Digite cédula apoderado Colpensiones")
          form-group
            label.control-label.col-sm-4 Tarjeta profesional apoderado
            col-sm-6
              input#idProcess.form-control(placeholder="Digite tarjeta profesional apoderado")
          form-group
            label.control-label.col-sm-4 Clasificación trámites
            col-sm-6
              input#idProcess.form-control(placeholder="Seleccione clasificación trámites")
          form-group
            label.control-label.col-sm-4 Tipo informativo
            col-sm-6
              input#idProcess.form-control(placeholder="Seleccione clasificación trámites")
          form-group
            label.control-label.col-sm-4 Relación de informativo
            col-sm-6
              input#idProcess.form-control(placeholder="Digite relación de informativo")
          form-group
            label.control-label.col-sm-4 Regional
            col-sm-6
              input#idProcess.form-control(placeholder="Seleccione regional")
          form-group
            label.control-label.col-sm-4 Año de radicación
            col-sm-6
              input#idProcess.form-control(placeholder="Digite el año de radicación")
          form-group
            label.control-label.col-sm-4 Tipo de unidad
            col-sm-6
              input#idProcess.form-control(placeholder="Digite el tipo de unidad", value="pesos")
          form-group
            label.control-label.col-sm-4 Tipo de apoderado
            col-sm-6
              input#idProcess.form-control(placeholder="Digite el tipo de apoderado", value="externo")
        .col-xs-12
          .btn-group(role="group").pull-right
            .btn.btn-default.btn-md Limpiar
            .btn.btn-primary.btn-md Guardar
      #valDup.tab-pane.fade
        h3 Validar Duplicidad



