//p
//  | Howdy! Here's a list of awesome computer scientists.
//  | Do you know any others? Add to the list yourself.
//form.form-inline((submit)='addName()')
//  .form-group
//    label.sr-only(for='newName') Awesome Computer Scientist
//    input#newName.form-control(type='text', [(ngModel)]='newName', placeholder='Awesome Computer Scientist')
//  button.btn.btn-primary(type='submit') Add
//ul
//  li(*ngFor='#name of nameListService.get()') {{name}}


.container
  .row
    ul.nav.nav-pills
      li.principalMenuItem
        a(href="#geoDatGen") Georeferenciación y Datos Generales
      li.principalMenuItem
        a(href="#valDup") Validar Duplicidad
      li.principalMenuItem
        a(href="#daPrePro") Datos Cualitativos, Pretenciones y Etapas Procesales
      li.principalMenuItem
        a(href="#valProDup") Estado de validación de los Procesos Duplicados
  .row
    .tab-content
      #geoDatGen.tab-pane.fade.in.active
        .header
          h3 Georeferenciación y Datos Generales
        form.form-horizontal(role="form")
          form-group
            label.control-label.col-sm-4 ID proceso
            col-sm-6
              input#idProceso.form-control(placeholder="Digite el ID del proceso")
          form-group
            label.control-label.col-sm-4 ID litigar
            col-sm-6
              input#idLitigar.form-control(placeholder="Digite el ID a litigar")
          form-group
            label.control-label.col-sm-4 Fecha de notificación
            col-sm-6
              input#fechaNotificacion.form-control(placeholder="Ingrese la fecha de notificación")
          form-group
            label.control-label.col-sm-4 No. Bizagi - caso defensa judicial
            col-sm-6
              input#idBizagi.form-control(placeholder="Digite el número Bizagi - caso defensa judicial")
          form-group
            label.control-label.col-sm-4 No. de juzgado
            col-sm-6
              input#idJuzgado.form-control(placeholder="Digite el número del juzgado")
          form-group
            label.control-label.col-sm-4 Tipo de juzgado
            col-sm-6
              input#tipoJuzgado.form-control(placeholder="Seleccione el tipo de juzgado")
          form-group
            label.control-label.col-sm-4 Nombre de despacho inicial
            col-sm-6
              input#nombreDespacho.form-control(placeholder="Seleccione el nombre del despacho inicial")
          form-group
            label.control-label.col-sm-4 Departamento juzgado
            col-sm-6
              input#depJuzgado.form-control(placeholder="Seleccione el departamento del juzgado")
          form-group
            label.control-label.col-sm-4 Ciudad de juzgado / Lugar de los hechos
            col-sm-6
              input#ciudadJuzgado.form-control(placeholder="Seleccione la ciudad del juzgado / Lugar de los hechos")
          form-group
            label.control-label.col-sm-4 Radicado rama judicial / Número de radicación
            col-sm-6
              input#radicadoRamJud.form-control(placeholder="Digite el radicado de la rama judicial / Número de radicación ej. 2015_000003")
          form-group
            label.control-label.col-sm-4 23 dígitos del proceso / Número de proceso rama judicial
            col-sm-6
              input#veintiTresDig.form-control(placeholder="Digite los 23 dígitos del proceso / Número de proceso rama judicial")
          form-group
            label.control-label.col-sm-4 Tipo de proceso
            col-sm-6
              input#tipoProceso.form-control(placeholder="Seleccione el tipo de proceso")
          form-group
            label.control-label.col-sm-4 Clasificación procesos /jurisdicción - acción
            col-sm-6
              input#clasProcesos.form-control(placeholder="Digite clasificación procesos /jurisdicción - acción")
          form-group
            label.control-label.col-sm-4 CC demandante / identificación demandante
            col-sm-6
              input#idDemandante.form-control(placeholder="Digite el documento del demandante / identificación demandante")
          form-group
            label.control-label.col-sm-4 Nombre demandante
            col-sm-6
              input#nombreDemandante.form-control(placeholder="Digite el nombre del demandante")
          form-group
            label.control-label.col-sm-4 Demandado
            col-sm-6
              input#idDemandado.form-control(placeholder="Digite el nombre del demandado", value="Colpensiones")
          form-group
            label.control-label.col-sm-4 Nombre apoderado actual
            col-sm-6
              input#nombreApoAct.form-control(placeholder="Digite el nombre del apoderado actual")
          form-group
            label.control-label.col-sm-4 Cédula apoderado Colpensiones
            col-sm-6
              input#idApoAct.form-control(placeholder="Digite la cédula del apoderado Colpensiones")
          form-group
            label.control-label.col-sm-4 Tarjeta profesional apoderado
            col-sm-6
              input#idTarjetaPro.form-control(placeholder="Digite la tarjeta profesional del apoderado")
          form-group
            label.control-label.col-sm-4 Clasificación trámites
            col-sm-6
              input#clasTramit.form-control(placeholder="Seleccione la clasificación de trámites")
          form-group
            label.control-label.col-sm-4 Tipo informativo
            col-sm-6
              input#tipoInfor.form-control(placeholder="Seleccione el tipo de informativo")
          form-group
            label.control-label.col-sm-4 Relación de informativo
            col-sm-6
              input#relInfor.form-control(placeholder="Digite la relación de informativo")
          form-group
            label.control-label.col-sm-4 Regional
            col-sm-6
              input#idRegion.form-control(placeholder="Seleccione la regional")
          form-group
            label.control-label.col-sm-4 Año de radicación
            col-sm-6
              input#anoRad.form-control(placeholder="Digite el año de radicación")
          form-group
            label.control-label.col-sm-4 Tipo de unidad
            col-sm-6
              input#tipoUnid.form-control(placeholder="Digite el tipo de unidad", value="pesos")
          form-group
            label.control-label.col-sm-4 Tipo de apoderado
            col-sm-6
              input#tipoApo.form-control(placeholder="Digite el tipo de apoderado", value="externo")
        .col-xs-11
          .btn-group(role="group").pull-right
            .btn.btn-default.btn-md Limpiar
            .btn.btn-primary.btn-md Guardar
      #valDup.tab-pane.fade
        h3 Validar Duplicidad



