:host {
  display: block;
  padding: 0 16px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

a {
  color: #23527c;
}

.titleItem {
  color:#245575 !important;
  text-decoration: none;
}

.principalMenuItem {
	font-size: 16px !important;
  color: #23527c !important;

  :visited {
  	color: #41A11D;
  	text-decoration: none;
  }

  :hover {
  	color: #b7ddf7 !important;
  	text-decoration: none;
  }

  :focus {
  	text-decoration: none;
  }
}
