:host {
  display: block;
  padding: 0 16px;
}

ul {
  list-style-type: none;
}

a {
  color: white;
}

.titleItem {
  color:#245575 !important;
  text-decoration: none !important;
}

.principalMenuItem {
  margin-left: 0;
  border-radius: 15px 15px 0 0;
	font-size: 12px !important;
  color: #23527c !important;
  background: #23527c;

  :hover {
    border-radius: 15px 15px 0 0;
  	color: #b7ddf7 !important;
    background: #23527c;
  }
}

.tab-content {
  padding-left: 10px;
}

$break-small: 325px;
$break-medium: 426px;

.form-control {
  width: 100%;
  margin-bottom: 30px;

  @media screen and (min-width: $break-medium) {
    width: 50%;
  }
}

.control-label { 
  font-size: 12px;
}

.header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.dashed-bottom {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
  margin: 15px 0 30px 0;
}